.days {
    width: 14.28571428571429%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
}

#calendar {
    height: 100%;
    width: 50%;
    margin: 0 0 0 50px;
    border: 2px solid black;
    border-top: none;
}
#calendar-text {
    font-size: 25px;
    border: 2px solid black;
    border-left: none;
    border-right: none;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    /*border-radius: 5px 5px 0 0;*/
}

#calendar-header h2 {
    margin: 0;
}

#calendar-header button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

#calendar-header button:hover {
    background-color: #45a049;
}

#calendar-body {
    width: 100%;
    border-collapse: collapse;
    height: 440px;
}

#calendar-body th, #calendar-body td {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

#calendar-body tbody td:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


.btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    background-color: #d8f0f8;
    border-radius: 20px;
    cursor: pointer;
}

.count {    /* 성인 아동 수 */
    width: 60px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.adult-child {  /* 성인 아동 문구 */
    width: 70%;
    font-size: 25px;
    margin-left: 35px;
}

.total {    /* 성인 아동 총 인원 */
    font-size: 20px;
}


#lodging-search {
    margin: 0 50px;
}
#lodging-input {
    margin:50px 50px 0 50px;
}
#lodging-text {
    width: 99.5%;
    height: 50px;
    font-size: 20px;
    border-radius: 20px 20px 0 0;
    border-bottom: none;
}

.recently-search1 {
    border: solid black 1px;
    width: 300px;
    height:150px;
}

.recently-search2 {
    height: 50%;
}
