.container {
    width: 60%;
    margin: auto;
}

.item-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-list1 {
    display: flex;
    width: 48%;
    height: 190px;
    margin-bottom: 10px;
}
.item {
    width: 100%;
    height: 180px;
    display: flex;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: inherit;         /* 텍스트 색상 상속 */
    text-decoration: none;
    padding: 0 10px;
    background-color: #f5f5f5;
}
.item:hover {
    text-decoration: none;
    text-decoration-color: white;
}
.item-img1 {
    width: 45%;
}
.item-img2 {
    width: 100%;
    height: 160px;
    background-color: #eee;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 9px;
}
.item-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    position: relative; /* position relative 추가 */
    margin-left: 5px;
}
.item-title {
    margin-top: 20px;
    height: 31%;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}
.item-type {
    margin-top: 40px;
    font-size: 14px;
}
.item-rating {
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.avgPostGrade {
    color: gray;
    align-items: center;
    padding-top: 5px;
}
.item-price {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    position: absolute; /* position absolute 추가 */
    bottom: 10px; /* 하단에 배치 */
    right: 0; /* 오른쪽에 배치 */
}



#lodging-text {
    width:100%;
    height: 40px;
    border-radius: 10px;
    font-size: 23px;
    border: none;
    background-color: #F5F5F5;
    outline: none;
}
#lodging-text1 {
    width:80%;
}

.date-people {
    display: flex;
    width: 90%;
    margin: 10px auto;
}
.date {
    background-color: #F5F5F5;
    font-size: 18px;
    width: 26%;
    height: 40px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
}
#people {
    margin-left: 10px;
    background-color: #F5F5F5;
    font-size: 18px;
    width: 26%;
    height: 40px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
}
#list-div {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.btn-div1 {
    display: flex;
}
.btn-div2{
    margin: 0 10px 0 0;
}
.btn1 {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    border-radius: 30px;
    background-color: #F5F5F5;
    border: none;
    font-weight: bold;
}
.btn1:hover {
    background-color: #FC5185;
    color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
}
.btn1:hover {
    text-decoration: none;
}

.btn2-div {
    display: flex;
    align-items: flex-end;
}
.btn2 {
    margin: 30px 0 0 10px;
    height: 30px;
}
#result-filter {
    display: flex;
    justify-content: space-between;
    margin: 28px 10px 40px 10px;
    font-weight: bold;
}
#star {
    color: gold;
    font-size: 22px;
    margin-right: 5px;
}
.post-null {
    color: darkgray;
    height: 130px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-bottom: 16px;
}

.custom-select {
    appearance: none; /* 기본 드롭다운 화살표 제거 */
    width: 150px; /* 원하는 너비 설정 */
    height: 28px;
    padding: 0 20px; /* 안쪽 여백 설정 */
    font-size: 15px; /* 글꼴 크기 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 5px; /* 테두리 모서리 둥글게 */
    background-color: #f5f5f5; /* 배경색 설정 */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%204%205%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M2%200L0%202h4L2%200zm0%205l2-2H0l2%202z%22/%3E%3C/svg%3E'); /* 드롭다운 화살표 이미지 */
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: right 10px center; /* 드롭다운 화살표 위치 설정 */
    cursor: pointer; /* 커서 포인터 설정 */
}
/* 포커스 스타일 */
.custom-select:focus {
    outline: none; /* 기본 포커스 효과 제거 */
}
.custom-option {
    padding: 10px 20px;
    font-size: 15px;
    color: #333;
    cursor: pointer;
}