.container {
    width: 60%;
    margin: auto;
}

.days {
    width: 14.28571428571429%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
}

#calendar {
    height: 100%;
    width: 50%;
    /*margin: 0 0 0 50px;*/
    border: 1px solid black;
    border-top: none;
}
#calendar-text {
    font-size: 25px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FC5185;
    color: white;
    /*border-radius: 5px 5px 0 0;*/
}

#calendar-header h2 {
    margin: 0;
}

#calendar-header button {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;;
    border-radius: 15px;
}

#calendar-header button:hover {
    /*background-color: #45a049;*/
}

#calendar-body {
    width: 100%;
    border-collapse: collapse;
    height: 440px;
}

#calendar-body th, #calendar-body td {
    width: 14.28%;
    text-align: center;
    border: 1px solid #ddd;
}
td {
    background-color: white;
}

#calendar-body tbody td:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.selectedDate {
    width: 100%;
    height: 50px;
    font-size: 20px;"
    border: none;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 20px;
    cursor: pointer;
}

.count {    /* 성인 아동 수 */
    width: 60px;
    height: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adult-child {  /* 성인 아동 문구 */
    width: 70%;
    font-size: 25px;
    margin-left: 35px;
}

.total {    /* 성인 아동 총 인원 */
    font-size: 20px;
}


#lodging-search {
    /*margin: 0 50px;*/
}
#lodging-input {
    width: 99.8%;
    height: 50px;
    border-radius: 20px 20px 0 0;
    border: 1px solid black;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
}
#lodging-text {
    /*border:none;*/
    border-radius: 20px 20px 0 0;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    width: 93%;
    height: 100%;
}
#location {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border-radius: 20px 20px 0 0;
    border: none;
    outline: none;
}
#lodging-text1 {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border-radius: 20px 20px 0 0;
    border: none;
    outline: none;
}
#lodging-text2 {
    width: 7%;
    height: 100%;
    display: flex;
    text-align: right; /* 가로로는 맨 오른쪽으로 정렬 */
    align-items: center; /* 세로로는 가운데 정렬 */
}
#search {
    width: 70%;
    height: 40px;
    border-radius: 15px;
}

.btn-div {
    padding-right: 30px;
    display: flex
}


#recently-search-container {
    width: 100%;
    height: 100%;
}
#recently-search {
    width: 30%;
    height: 100%;
    margin: 5px 0;
    padding: 20px 10px;
    background-color: #F5F5F5;
    border-radius: 15px;
}

.recently-search1 {
    width: 100%;
    height:100%;
    /*padding: 15px;*/
    border: none;
    display: flex;
}

.recently-search2 {
    background-color: #F5F5F5;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    /*padding: 10px;*/
    margin: 0 10px;
}