.container {
    padding: 40px 20%;
}

#lodging-search {
    margin-bottom: 20px;
}

#search-form {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#lodging-text {
    display: flex;
    border-radius: 7px;
    padding: 0 15px;
    background-color: #F5F5F5;
    outline: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

#location {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: #F5F5F5;
    border: none;
    outline: none;
}

.btn-search-location {
    border: none;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-search-location:hover {
    transform: scale(1.02);
}

#search {
    width: 100%;
    height: 30px;
}

.date-and-lineup-select {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border: 0;
}

.selected-result, .calendar-and-lineup {
    display: flex;
    justify-content: space-between;
}

.selected-result div {
    width: 49%;
    height: 45px;
    font-size: 20px;"
    border: none;
    border-radius: 7px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar, #lineup-select {
    height: 450px;
    width: 49%;
    border: 0;
    border-radius: 7px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 15px;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 13px;
    margin-bottom: 10px;
}

#calendar-header button {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;;
    border-radius: 15px;
}

#prev:hover, #next:hover {
    transform: scale(1.02);
    color: #FC5185;
    transition: border-bottom 0.1s ease-in-out;
}
.button:hover {
    background-color: #fc5185;
    color: white;
}
#decrease-btn1:hover, #decrease-btn2:hover, #increase-btn1:hover, #increase-btn2:hover {
    background-color: #fc5185;
}

.days {
    width: 14.28571428571429%;
    text-align: center;
    font-size: 20px;
    height: 40px;
    color: darkgray;
}

#calendar-body {
    width: 100%;
    border-collapse: collapse;
    height: 330px;
    border: 0;
}

#calendar-body th, #calendar-body td {
    width: 14.28%;
    text-align: center;
    border: 0;
}
#calendar-body td:hover {
    cursor: pointer;
}

td {
    background-color: white;
}

#calendar-body tbody td:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.plus-minus-lineup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 20px;
}
.adultPicture, .childPicture {
    width: 30px;
    font-size: 20px;
    margin-right: 7px;
}
.adult-child {  /* 성인 아동 문구 */
    width: 57%;
    font-size: 20px;
}

#increase-btn1, #decrease-btn1, #increase-btn2, #decrease-btn2 {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}

.count {    /* 성인 아동 수 */
    width: 60px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recently-search-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 20px;
}

#recently-search {
    width: 30%;
    height: 100%;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 5px;
}
#recentlyDiv1 {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 16px #F5F5F5;
    background-color: #F5F5F5;
}
#recentlyDiv2 {
    font-weight: bold;
}
#recentlyImg {
    height: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px
}
