.container {
    width: 70%;
    margin: auto;
    position: relative;
}
.img {
    height: 440px;
    width: 100%;
}
.mySlides img {
    border-radius: 15px;
}
.slideshow-container {
    position: relative;
}
.next {
    right: 0;
}
.prev {
    left: 0;
}
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
}
.number {
    text-align: center;
}




.lodging-name {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
}
.like {
    width: 65px;
    height: 70px;
    font-size: 45px;
    background-color: white;
    border: none;
}
.review-header {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.all {
    font-weight: bold;
    font-size: 20px;
}

.item-list {
    display: flex;
    justify-content: space-between;
    height: 130px;
}
.item {
    width: 32%;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.lodging-img {
    width: 40%;
}
.item-details {
    padding: 10px;
    background-color: #eee;
    width: 60%;
    flex-direction: column;
    border-radius: 10px;
}
.item-rating {
    color: black;
    height: 20%;
}
.item-title {
    width: 100%;
    font-size: 18px;
}


.room {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}
.date {
    align-content: center;
}


.room-list {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    flex-wrap: wrap;
}
.room-list1 {
    height: 180px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
}
.room-img {
    width: 40%;
    height: 100%;
    border-radius: 10px;
}
.room-details {
    width: 60%;
    height: 100%;
    float: right;
    background-color: #eee;
    border-radius: 10px;
}
.room-detail {
    display: flex;
    justify-content: space-between;
}
.detail-btn {
    width: 40%;
    border: none;
    color: blue;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.reserve-btn {
    margin-top: 10px;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    float: right;
    background-color:#FC5185;
    font-weight: bold;
    color: white;
    border:none;
    cursor: pointer;
}
.reserve-btn:hover {
    background-color: #D43F6A; /* 마우스를 올렸을 때 배경색 */
}


.lodging-location {
    margin: 40px 0;
}
.lodging-location1 {
    width: 100%;
    height: 350px;
}

.lodging-data {
    width: 100%;
    height: 200px;
}