.container {
    width: 60%;
    margin: auto;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
    width: 100%;
    display: flex;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: inherit;         /* 텍스트 색상 상속 */
    text-decoration: none;
    padding: 0 20px;
}
.item:hover {
    text-decoration: none;
    text-decoration-color: white;
}
.item img {
    width: 167px;
    height: 180px;
    background-color: #eee;
    margin-right: 20px;
    border-radius: 10px;
}
.item-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    position: relative; /* position relative 추가 */
}
.item-title {
    font-size: 18px;
    margin: 0;
}
.item-rating {
    color: gray;
}
.item-price {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    position: absolute; /* position absolute 추가 */
    bottom: 10px; /* 하단에 배치 */
    right: 10px; /* 오른쪽에 배치 */
}



#lodging-text {
    width:100%;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}
#lodging-text1 {
    width:80%;
}

.date-people {
    display: flex;
    width: 90%;
    margin: 10px auto;
}
.date {
    background-color: #F5F5F5;
    font-size: 18px;
    width: 26%;
    height: 40px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
}
#people {
    margin-left: 10px;
    background-color: #F5F5F5;
    font-size: 18px;
    width: 26%;
    height: 40px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
}
#list-div {
    display: flex;
    margin: 0 10px;
}
.btn-div{
    margin: 0 10px 0 0;
}
.btn {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #F5F5F5;
    border: none;
}
.btn:hover {
    background-color: #FC5185;
    color: white;
    border: none;
    border-radius: 10px;
}

.btn1-div {
    display: flex;
    margin-left: auto;
}
.btn1 {
    /*margin-top: 30px;*/
    margin: 30px 10px 0 10px;
    height: 30px;
}


#result-filter {
    display: flex;
    justify-content: space-between;
    margin: 28px 10px 40px 10px;
    font-weight: bold;
}



#slider-range {
    margin-top: 30px;
}
#price-range {
    margin: 0 20px;
    float: right;
    text-align: right;
    font-weight:bold;
    color:#4CAF50;
    display: none;
    width: 35%;
}
