@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    padding: 0 20%;
    height: fit-content;
}

form {
    margin: 30px 0;
    height: fit-content;
}

.booking-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: fit-content;
    width: 100%;
    section {
        display: flex;
        flex-direction: column;
    }
}

.box-user-info {
    padding-top: 15px;
}

.box-booking-info, .box-pay-info {
    border: 1px solid #EBEBEB;
    border-radius: 7px;
}

.booking-label-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.info-label {
    font-size: 13px;
    color: dimgray;
    margin-bottom: 5px;
}

#visitorName, #visitorPhoneNum {
    border: 0;
    border-radius: 7px;
    background-color: #F5F5F5;
    height: 50px;
    width: 350px;
    padding: 10px;
    font-size: 17px;
}

.box-booking-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.box-booking-info img {
    width: 100%;
    height: 60%;
    border-radius: 7px;
    margin: 15px 0;
}

.booking-info-container {
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: 30px 30px 30px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: center;
    height:40%;
    .info-label {
        padding: 5px;
    }

    p {
        align-content: center;
    }
}

.box-pay-type {
    padding-top: 15px;
}

.payment-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.payment-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    height: 50px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: white;

}

.payment-item:hover,
.payment-item.active{
    background-color: #FFEBEF;
    color: #FC5185;
    border-color: #FC5185;
}


.payment-item img {
    max-width: 80%;
    max-height: 80%;
}



.box-pay-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
}

.info-input {
    color: #1273E4;
    font-size: 17px;
    font-weight: bold;
}

.btn-submit-booking {
    height: 40px;
    width: 100%;
    color: white;
    background-color: #FC5185;
    border: 0;
    border-radius: 5px;
    font-size: 17px;
}

/* Responsive adjustments */
@media (max-width: 768px) {

}
