@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    width: 60%;
    margin: 50px auto;
}

.room-info {
    width: 100%;
    display: flex;
    margin: 30px 0 50px 0;
}

.room-img {
    border-radius: 10px;
    margin-right: 50px;
    width: 60%;
}

.room-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.room-detail-hr {
    border: 1px solid #EBEBEB;
}

.room-detail-inner {
    gap: 20px;
}

.room-detail-inner h2 {
    margin-bottom: 10px;
}

.room-detail-inner p {
    color: dimgrey;
    font-size: 17px;
}

.room-reserve-frame {
    display: flex;
    height: 180px;
    width: 100%;
    border-radius: 10px;
    margin: 30px 0 50px 0;
    padding: 40px 70px;
    background-color: #F5F5F5;
}

.room-reserve-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-reserve-date {
    display: flex;
    justify-content: space-around;
}

.room-reserve-date div {
    margin-right: 50px;
}

.room-reserve-date div label {
    font-weight: bold;
}

.room-reserve-date div p {
    color: #555555;
}

.reserve-confirm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 40%;
}

.reserve-notice {
    color: red;
    font-weight: bold;
}

.reserve-price {
    padding-bottom: 10px;
}

.reserve-btn {
    width: 60%;
    height: 40px;
    border-radius: 7px;
    background-color: #FC5185;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    align-content: center;
    color: white;
    cursor: pointer;
}

.reserve-btn:hover {
    transform: scale(1.02);
}

.post-title {
    display: flex;
    justify-content: space-between;
}

.btn-see-all {
    display: flex;
    text-decoration: none;
    color: #1273E4;
    align-items: flex-end;
}

.post-list {
    display: flex;
    justify-content: space-between;
    height: 130px;
    margin-top: 30px;
}

.post-frame {
    width: 32%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.post-img-frame {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    background-color: #EBEBEB;
    justify-content: center;
    align-items: center;
}

.post-img {
    width: auto;
    max-height: 100%;
}

.post-img-null {
    max-width: 60%;
    height: auto;
}

.post-details {
    background-color: #F5F5F5;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.post-rating {
    height: 30%;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.post-contents {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: calc(1.5em * 3);
    width: 100%;
    line-height: 1.5em;
    font-size: 14px;
    color: dimgray;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-null {
    color: darkgray;
    height: 130px;
    font-size: 30px;
    text-align: center;
    align-content: center;
}