.container {
    width: 70%;
    margin: auto;
    /*position: relative;*/
}
.lodging-img {
    height: 440px;
    width: 100%;
}
.mySlides img {
    border-radius: 15px;
}
.slideshow-container {
    position: relative;
}
.next {
    right: 0;
}
.prev {
    left: 0;
}
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
}
.number {
    text-align: center;
}


.room {
    border-bottom: solid black 1px;
}
.reserve-pont {
    height: 15px;
}
.room-reserve {
    border: solid black 1px;
    height: 180px;
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
    background-color: #eee;
}
.room-reserve1 {
    display: flex;
    justify-content: flex-end;
}
.time {
    height: 30%;
    margin-top: 20px;
}
.datetime {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.reserve {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
}
.pont {
    color: red;
    font-weight: bold;
}
.price {
    padding-bottom: 10px;
}
.reserve-div {
    width: 100%;
}
.reserve-btn {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color:#FC5185;
    font-weight: bold;
    color: white;
    border:none;
    cursor: pointer;
}


.item-list {
    display: flex;
    justify-content: space-between;
    height: 130px;
    margin-top: 20px;
}
.item {
    width: 32%;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.lodging-img {
    width: 40%;
}
.item {
}
.item-details {
    background-color: #eee;
    width: 60%;
    flex-direction: column;
}
.item-rating {
    color: black;
    height: 20%;
}
.item-title {
    width: 100%;
    font-size: 18px;
}

.review {
    margin-top: 10px;
}
.review-btn {
    width: 100%;
    height: 50px;
}