<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvRoomList.css}">
    <script th:src="@{/js/mypage/provider/ProvRoomList.js}"></script>
    <title>객실 정보</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<!-- 메인 -->
<main>
    <!-- 좌측 네비게이션 메뉴 -->
    <th:block th:insert="~{mypage/provider/ProvNavMenu::prov-nav-menu('c')}"></th:block>

    <!-- 객실 정보 페이지 -->
    <section class="lodging-list">
        <h1>객실 정보</h1>
        <div class="lodging-info" th:each="lodging : ${rooms}">
            <div class="lodging-type" th:text="${lodging.lodgingType}"></div>
            <div class="lodging-name" th:text="${lodging.lodgingName}"></div>
            <div class="room-list-frame">
                <a class="room-list" th:each="room : ${lodging.roomList}" th:href="@{'/mypage/provider/ProvRoomDetail/'+ ${room.roomId}}">
                    <img class="room-img" th:src="${room.roomPicture1}" alt="">
                    <table class="room-info-table">
                        <colgroup>
                            <col style="width: 40%;">
                            <col style="width: 60%;">
                        </colgroup>
                        <tr>
                            <th>객실 이름</th>
                            <td th:text="${room.roomName}"></td>
                        </tr>
                        <tr>
                            <th>객실 호수</th>
                            <td th:text="${room.roomNumber}"></td>
                        </tr>
                        <tr>
                            <th>객실 면적</th>
                            <td th:text="${room.roomArea}"></td>
                        </tr>
                    </table>
                </a>
            </div>
            <div class="btn-list"><a class="btn-register" th:href="@{'/mypage/provider/ProvRoomRegister/' + ${lodging.lodgingId}}">객실 등록</a></div>
        </div>
    </section>
</main>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>