<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvBookingList.css}">
    <script th:src="@{/js/mypage/provider/ProvBookingList.js}"></script>
    <title>예약 관리</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<!-- 메인 -->
<main>
    <!-- 좌측 네비게이션 메뉴 -->
    <th:block th:insert="~{mypage/provider/ProvNavMenu::prov-nav-menu('a')}"></th:block>

    <!-- 숙소 정보 페이지 -->
    <section class="booking-info">
        <h1>예약 관리</h1>
        <div class="booking-filter">
            <label class="select-label" for="lodging-select">
                숙소 선택
                <select class="select-element" id="lodging-select" name="lodgingId">
                    <option value="">숙소를 선택하세요.</option>
                    <option th:each="lodgings : ${lodgings}" th:value="${lodgings.lodgingId}">[[${lodgings.lodgingName}]]</option>
                </select>
            </label>
            <button class="btn-search" type="button">
                <img th:src="@{/image/IconSearch.png}" alt="" height="30">
            </button>
        </div>
        <div id="booking-list">
            <th:block th:include="mypage/provider/ProvBookingListInner :: bookingList"></th:block>
        </div>
    </section>
</main>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>