<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="prov-nav-menu(activePage)">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvNavMenu.css}">

    <!-- PC 버전 -->
    <nav class="provider-menu-pc">
        <a th:href="@{/mypage/provider/ProvBookingList}" th:classappend="${activePage == 'a' ? 'active' : ''}">
            <img th:src="@{/image/mypage/provider/ProvBookingList.png}" alt="" class="provider-menu-icon" id="prov-booking-list-btn">
            <p>예약 관리</p>
        </a>

        <a th:href="@{/mypage/provider/provlodginglist}" th:classappend="${activePage == 'b' ? 'active' : ''}">
            <img th:src="@{/image/mypage/provider/ProvLodgingList.png}" alt="" class="provider-menu-icon" id="prov-lodging-btn">
            <p>숙소 정보</p>
        </a>

        <a th:href="@{'/mypage/provider/ProvRoomList/' + ${user.userId}}" th:classappend="${activePage == 'c' ? 'active' : ''}">
            <img th:src="@{/image/mypage/provider/ProvRoomList.png}" alt="" class="provider-menu-icon" id="prov-room-btn">
            <p>객실 정보</p>
        </a>
    </nav>

    <!-- 모바일 버전 -->
    <!--    <nav class="provider-menu-mobile">-->
    <!--    </nav>-->
    <script th:src="@{/js/mypage/provider/ProvNavMenu.js}"></script>
</th:block>
</html>