<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvLodgingList.css}">
    <script th:src="@{/js/mypage/provider/ProvLodgingList.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <title>내 숙소 리스트</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>
<main>
    <div class="container">
        <th:block th:insert="~{mypage/provider/ProvNavMenu::prov-nav-menu('b')}"></th:block>

        <div class="content">
            <h1>내 숙소 리스트</h1>
            <table>
                <tr th:each="lodging : ${lodgings}">
                    <td>
                        <div class="accommodation">
                            <img th:src="@{${lodging.lodgingPicture1}}" alt="사진">
                            <div class="accommodation-info">
                                <p>숙소명: <span th:text="${lodging.lodgingName}">호텔 ABC</span></p>
                                <p>숙소 타입: <span th:text="${lodging.lodgingType}">호텔</span></p>
                                <p>숙소 주소: <span th:text="${lodging.lodgingAddress}">서울특별시 강남구</span></p>
                                <p>숙소 연락처: <span th:text="${lodging.lodgingNumber}">02-1234-5678</span></p>
                                <button class="detail-btn"><a class="view-details" th:href="@{'/mypage/provider/provlodgingdetail/' + ${lodging.lodgingId}}">상세 보기</a></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <a class="register-btn" href="/mypage/provider/provlodgingregister">숙소 등록</a>
        </div>
    </div>
</main>
<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>
