<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvBookingList.css}">
    <script th:src="@{/js/mypage/provider/ProvBookingList.js}"></script>
    <title>예약 관리</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<!-- 메인 -->
<main>
    <!-- 좌측 네비게이션 메뉴 -->
    <th:block th:insert="~{mypage/provider/ProvNavMenu::prov-nav-menu}"></th:block>

    <!-- 숙소 정보 페이지 -->
    <section class="booking-info">
        <h1>예약 관리</h1>
        <form th:action="" class="booking-filter" method="get">
            <label class="select-label" for="lodging-select">
                숙소 선택
                <select class="select-element" id="lodging-select" name="lodgingId" th:onchange="'javascript:getRooms(this.value)'">
                    <option value="">선택하세요.</option>
                    <option th:each="lodgings : ${lodgings}" th:value="${lodgings.lodgingId}">[[${lodgings.lodgingName}]]</option>
                </select>
            </label>
            <label class="select-label" for="room-select">
                객실 선택
                <select class="select-element" id="room-select" name="roomId">
                    <option value="">선택하세요.</option>
                    <div th:fragment="roomList">
                        <option th:each="rooms : ${rooms}" th:value="${rooms.roomId}">[[${rooms.roomName}]]</option>
                    </div>
                </select>
            </label>
        </form>
    </section>
</main>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>