<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvRoomRegister.css}">
    <script th:src="@{/js/mypage/provider/ProvRoomRegister.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <title>객실 등록</title>
</head>
<body>
<header>
    <div class="container">
        <div class="header-items">
            <h1>객실 등록</h1>
            <div>
                <img src="LOGO_URL" alt="Logo" height="40">
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="header-menu">
            <h2>숙소 오너</h2>
            <div>
                <button>내 정보 관리</button>
                <button><a href="roomregister">객실 등록</a></button>
            </div>
        </div>

        <form id="registrationForm2" action="/mypage/provider/createRoom" method="post">
        <label for="fileInput2">객실 이미지</label>
        <div id="Upload2">
                <input type="text" id="fileInput2" name="roomPicture1" placeholder="객실 이미지 url을 넣어주세요.">
        </div>
            <br>
            <div class="form-row2">
                <div class="form-group2">
                    <label for="roomname">객실 이름</label>
                    <input type="text" id="roomname" name="roomName" placeholder="객실 이름을 입력해 주세요.">
                </div>
            </div>

            <div class="form-row2">
                <div class="form-group2">
                    <label for="normal">객실 기준 인원수</label>
                    <input type="text" id="normal" name="roomNormalPeople" placeholder="객실 기준 인원수를 입력해 주세요.">
                </div>
                <div class="form-group2">
                    <label for="max">객실 최대 인원수</label>
                    <input type="text" id="max" name="roomMaxPeople" placeholder="객실 최대 인원수를 입력해 주세요.">
                </div>
            </div>

            <div class="form-row2">
                <div class="form-group2">
                    <label for="price">객실 가격</label>
                    <input type="text" id="price" name="roomPrice" placeholder="객실 숙소 가격을 입력해 주세요.">
                </div>
            </div>

            <div class="form-row2">
                <div class="form-group2">
                    <label for="nm">객실 호수</label>
                    <input type="text" id="nm" name="roomNumber" placeholder="객실 호수를 입력해 주세요.">
                </div>
                <div class="form-group2">
                    <label for="area">객실 면적</label>
                    <input type="text" id="area" name="roomArea" placeholder="객실 면적을 입력해 주세요.">
                </div>
            </div>

            <div class="form-row2">
                <div class="form-group2">
                    <label for="bedcnt">객실 침대 개수</label>
                    <input type="text" id="bedcnt" name="roomBed" placeholder="객실 침대 개수를 입력해 주세요.">
                </div>
                <div class="form-group2">
                    <label for="roombedtype">객실 침대 유형</label>
                    <select id="roombedtype" name="roomBedGrade">
                        <option value="">침대 유형을 선택해 주세요.</option>
                        <option value="싱글 침대">싱글 침대</option>
                        <option value="더블 침대">더블 침대</option>
                        <option value="퀸 침대">퀸 침대</option>
                        <option value="킹 침대">킹 침대</option>
                    </select>
                </div>
            </div>

            <div class="form-row2">
                <div class="form-group2">
                    <label for="bathcnt">객실 욕실 개수</label>
                    <input type="text" id="bathcnt" name="roomBathroom" placeholder="객실 욕실 개수를 입력해 주세요.">
                </div>
                <div class="form-group2">
                    <label for="smoke">객실 흡연 여부</label>
                    <input type="text" id="smoke" name="roomSmoke" placeholder="객실 흡연 여부를 입력해 주세요.">
                </div>
                <div class="form-group2">
                    <label for="lodgingId">로징 아이디</label>
                    <input type="text" id="lodgingId" name="lodgingId" placeholder="로징 아이디를 입력해주세요.">
                </div>
            </div>

            <div class="form-row2">
                <div class="form-group2">
                    <button type="submit">객실 등록</button>
                </div>
            </div>
        </form>

    </div>
</main>

<!-- 푸터 -->
<footer>

</footer>


</body>
</html>