<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvRoomRegister.css}">
    <script th:src="@{/js/mypage/provider/ProvRoomRegister.js}"></script>
    <title>객실 등록</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<!-- 메인 -->
<main>
    <!-- 좌측 네비게이션 메뉴 -->
    <th:block th:insert="~{mypage/provider/ProvNavMenu::prov-nav-menu('c')}"></th:block>

    <!-- 객실 등록 구역 -->
    <section class="room-info">
        <h1>객실 등록</h1>
        <div class="lodging-name" th:text="${lodging.lodgingName}"></div>
        <form id="room-registration" th:action="@{/mypage/provider/ProvRoomRegister}" method="post">
            <div class="room-list">
                <div class="room-info-frame-hidden">
                    <label class="info-label" for="lodgingId">객실ID<div class="required-dot"></div></label>
                    <input class="info-input" id="lodgingId" name="lodgingId" type="text" placeholder="객실명을 입력하세요." th:value="${lodging.lodgingId}">
                </div>
                <div class="room-info-frame">
                    <label class="info-label" for="roomName">객실명<div class="required-dot"></div></label>
                    <input class="info-input" id="roomName" name="roomName" type="text" placeholder="객실명을 입력하세요." th:value="${roomName}">
                </div>
                <div class="room-info-frame">
                    <label class="info-label" for="roomNumber">객실 호수</label>
                    <input class="info-input" id="roomNumber" name="roomNumber" type="number" placeholder="객실 호수를 입력하세요." th:value="${roomNumber}">
                </div>
                <div class="room-info-frame">
                    <label class="info-label" for="roomNormalPeople">객실 기준 인원<div class="required-dot"></div></label>
                    <input class="info-input" id="roomNormalPeople" name="roomNormalPeople" type="number" placeholder="객실 기준 인원을 입력하세요." th:value="${roomNormalPeople}">
                </div>
                <div class="room-info-frame">
                    <label class="info-label" for="roomMaxPeople">객실 최대 인원<div class="required-dot"></div></label>
                    <input class="info-input" id="roomMaxPeople" name="roomMaxPeople" type="number" placeholder="객실 최대 인원을 입력하세요." th:value="${roomMaxPeople}">
                </div>
                <div class="room-info-frame">
                    <label class="info-label" for="roomArea">객실 면적</label>
                    <input class="info-input" id="roomArea" name="roomArea" type="number" placeholder="객실 면적을 입력하세요." th:value="${roomArea}">
                </div>
                <div class="room-info-frame">
                        <label class="info-label" for="roomPrice">객실 가격<div class="required-dot"></div></label>
                        <input class="info-input" id="roomPrice" name="roomPrice" type="number" placeholder="객실 가격을 입력하세요." th:value="${roomPrice}">
                </div>
                <div class="room-info-frame">
                    <label class="info-label" for="roomBedGrade">객실 침대 타입</label>
                    <input class="info-input" id="roomBedGrade" name="roomBedGrade" type="text" placeholder="객실 침대 타입을 입력하세요." th:value="${roomBedGrade}">
                </div>
                <div class="room-info-frame">
                    <label class="info-label" for="roomBed">객실 침대 갯수<div class="required-dot"></div></label>
                    <input class="info-input" id="roomBed" name="roomBed" type="number" placeholder="객실 침대 갯수를 입력하세요." th:value="${roomBed}">
                </div>
                <div class="room-info-frame">
                    <label class="info-label" for="roomBathroom">객실 욕실 갯수</label>
                    <input class="info-input" id="roomBathroom" name="roomBathroom" type="number" placeholder="객실 욕실 개수를 입력하세요." th:value="${roomBathroom}">
                </div>
                <div class="room-info-frame">
                    <label class="info-label">객실 흡연 가능 여부<div class="required-dot"></div></label>
                    <div class="smoke-radio-frame">
                        <input type="radio" class="btn-check" name="roomSmoke" id="roomSmoke1" value="YES" th:checked="${roomSmoke}">
                        <label class="smoke-radio-label" for="roomSmoke1">흡연 가능 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

                        <input type="radio" class="btn-check" name="roomSmoke" id="roomSmoke2" value="NO" th:checked="${roomSmoke} ? ${roomSmoke == 'NO'} : ${true}">
                        <label class="smoke-radio-label" for="roomSmoke2">흡연 불가</label>
                    </div>
                </div>
                <div class="image-upload">
                    <label class="info-label" for="roomPicture1">사진 첨부<div class="required-dot"></div></label>
                    <div class="image-upload-input">
                        <input class="image-url" id="roomPicture1" name="roomPicture1" placeholder="객실 이미지 url을 넣어주세요." type="text" th:value="${roomPicture1}">
<!--                        <button class="btn-upload" type="button">찾아보기</button>-->
                    </div>
                </div>
            </div>
            <button class="btn-register" type="submit">등록하기</button>
        </form>
    </section>
</main>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>
