<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvLodgingDetail.css}">
    <script th:src="@{/js/mypage/provider/ProvLodgingDetail.js}"></script>
    <title>숙소 상세 정보</title>
</head>
<body>
<header>
    <img src="logo.png" alt="Logo">
    <nav>
        <a href="#">숙박 예약</a>
        <a href="/ticketcheck">승차권 조회</a>
    </nav>
</header>
<main>
    <h1>숙소 상세 정보</h1>
    <div class="lodging-detail">
        <img th:src="@{${lodging.lodgingPicture1}}" alt="숙소 이미지">
        <div class="lodging-info">
            <p>숙소 이름: <span th:text="${lodging.lodgingName}"></span></p>
            <p>숙소 타입: <span th:text="${lodging.lodgingType}"></span></p>
            <p>위치1: <span th:text="${lodging.lodgingLocation1}"></span></p>
            <p>위치2: <span th:text="${lodging.lodgingLocation2}"></span></p>
            <p>주소: <span th:text="${lodging.lodgingAddress}"></span></p>
            <p>전화번호: <span th:text="${lodging.lodgingNumber}"></span></p>
            <p>URL: <span th:text="${lodging.lodgingUrl}"></span></p>
            <p>입실 시간: <span th:text="${lodging.lodgingOpen}"></span></p>
            <p>퇴실 시간: <span th:text="${lodging.lodgingClose}"></span></p>
            <p>숙소 소개: <span th:text="${lodging.lodgingIntroduce}"></span></p>
            <p>시설 및 서비스: <span th:text="${lodging.lodgingService}"></span></p>
            <p>이용 안내: <span th:text="${lodging.lodgingUsingInfo}"></span></p>
            <p>예약 공지: <span th:text="${lodging.lodgingNotice}"></span></p>
            <p>담당자 이름: <span th:text="${lodging.lodgingOwnerName}"></span></p>
            <p>담당자 전화번호: <span th:text="${lodging.lodgingOwnerNumber}"></span></p>
            <p>담당자 이메일: <span th:text="${lodging.lodgingOwnerEmail}"></span></p>
            <p>담당자 ID: <span th:text="${lodging.lodgingOwnerId}"></span></p>
        </div>
    </div>
    <a href="/provlodinglist">목록으로 돌아가기</a>
</main>
</body>
</html>
