<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvRoomDetail.css}">
    <script th:src="@{/js/mypage/provider/ProvRoomDetail.js}"></script>
    <title>객실 상세</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<!-- 메인 -->
<main>
    <!-- 좌측 네비게이션 메뉴 -->
    <th:block th:insert="~{mypage/provider/ProvNavMenu::prov-nav-menu('c')}"></th:block>

    <!-- 객실 정보 페이지 -->
    <section class="room-info" th:each="roomInfo : ${room}">
        <h1>객실 상세정보</h1>
        <div class="room-list">
            <img class="room-img" th:src="${room.roomPicture1}" alt="">
        </div>
        <div class="room-list">
            <label class="info-label">
                객실명<br>
                <input class="info-input" type="text" th:value="${room.roomName}" disabled>
            </label>
            <label class="info-label">
                객실 호수<br>
                <input class="info-input" type="text" th:value="${room.roomNumber}" disabled>
            </label>
            <label class="info-label">
                객실 기준 인원<br>
                <input class="info-input" type="text" th:value="${room.roomNormalPeople}" disabled>
            </label>
            <label class="info-label">
                객실 최대 인원<br>
                <input class="info-input" type="text" th:value="${room.roomMaxPeople}" disabled>
            </label>
            <label class="info-label">
                객실 면적<br>
                <input class="info-input" type="text" th:value="${room.roomArea}" disabled>
            </label>
            <label class="info-label">
                객실 가격<br>
                <input class="info-input" type="text" th:value="${room.roomPrice}" disabled>
            </label>
            <label class="info-label">
                객실 침대 개수<br>
                <input class="info-input" type="text" th:value="${room.roomBed}" disabled>
            </label>
            <label class="info-label">
                객실 침대 종류<br>
                <input class="info-input" type="text" th:value="${room.roomBedGrade}" disabled>
            </label>
            <label class="info-label">
                객실 욕실 개수<br>
                <input class="info-input" type="text" th:value="${room.roomBathroom}" disabled>
            </label>
            <label class="info-label">
                객실 흡연 가능 여부<br>
                <input class="info-input" type="text" th:value="${room.roomSmoke}" disabled>
            </label>
        </div>
        <form id="deleteForm" th:action="@{/mypage/provider/deleteRoom/{roomId}(roomId=${room.roomId})}" method="post">
        <div class="btn-list">
            <a class="btn-reverse" th:href="@{'/mypage/provider/ProvRoomList/' + ${room.lodgingId}}">목록 보기</a>
            <a class="btn-update" th:href="@{'/mypage/provider/ProvRoomUpdate/' + ${room.roomId}}">정보 수정</a>
            <button type="button" class="btn-delete" onclick="confirmDelete()">객실 삭제</button>
        </div>
        </form>
    </section>
    <script src="../../../../static/js/mypage/provider/ProvRoomDetail.js"></script>
</main>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>