<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvLodgingList.css}">
    <link rel="stylesheet" type="text/css" href="../../../../static/css/mypage/provider/ProvLodgingList.css">
    <script th:src="@{/js/mypage/provider/ProvLodging.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <title>오너 숙소 리스트</title>
</head>
<body>
<header>
    <img src="logo.png" alt="Logo">
    <nav>
        <a href="#">숙박 예약</a>
        <a href="/ticketcheck">승차권 조회</a>
    </nav>
</header>
<main>
    <h1>내 숙소 리스트</h1>
    <table>
        <tr th:each="lodging : ${lodgings}">
            <td>
                <div class="accommodation">
                    <img th:src="@{${lodging.lodgingPicture1}}" alt="사진">
                    <div class="accommodation-info">
                        <p>숙소명: <span th:text="${lodging.lodgingName}">호텔 ABC</span></p>
                        <p>숙소 타입: <span th:text="${lodging.lodgingType}">호텔</span></p>
                        <p>숙소 주소: <span th:text="${lodging.lodgingAddress}">서울특별시 강남구</span></p>
                        <p>숙소 연락처: <span th:text="${lodging.lodgingNumber}">02-1234-5678</span></p>
                    </div>
                    <button><a class="view-details" th:href="@{'/provlodgingdetail/' + ${lodging.lodgingId}}">상세 보기</a></button>
                </div>
            </td>
        </tr>
    </table>
    <a class="register-btn" href="/provlodgingregister">숙소 등록</a>
</main>


</body>
</html>
