<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvLodgingUpdate.css}">-->
    <link rel="stylesheet" type="text/css" href="../../../../static/css/mypage/provider/ProvLodgingUpdate.css">
<!--    <script th:src="@{/js/mypage/provider/ProvLodgingUpdate.js}"></script>-->
    <title>숙소 정보 수정</title>
</head>
<body>
<!-- 헤더 -->
<header id="nav-bar"></header>
<script src="../../../../static/js/LoadHeader.js"></script>
<script src="../../../../static/js/Header.js"></script>

<!-- 메인 -->
<main>
    <!-- 좌측 네비게이션 메뉴 -->
    <nav class="provider-menu">
        <ul>
            <li class="provider-menu-list"><img src="../../../../static/image/BookingActive.png" alt="" class="provider-menu-icon"><a href="#">예약 관리</a></li>
            <li class="provider-menu-list"><img src="../../../../static/image/ReviewActive.png" alt="" class="provider-menu-icon"><a href="#">후기 관리</a></li>
            <li class="provider-menu-list"><img src="../../../../static/image/LodgingActive.png" alt="" class="provider-menu-icon"><a href="ProvLodgingList.html" class="active">숙소 정보</a></li>
            <li class="provider-menu-list"><img src="../../../../static/image/RoomActive.png" alt="" class="provider-menu-icon"><a href="ProvRoomList.html">객실  정보</a></li>
        </ul>
    </nav>

    <!-- 숙소 정보 페이지 -->
    <section class="lodging-info">
        <h1>숙소 정보 수정</h1>
        <form>
            <div class="lodging-list">
                <label class="image-upload">
                    사진 첨부<br>
                    <div class="image-upload-input">
                        <input class="image-url" type="text" disabled>
                        <button class="btn-upload">찾아보기</button>
                    </div>
                </label>
                <label class="info-label">
                    숙소명<br>
                    <input class="info-input" type="text">
                </label>
                <label class="info-label">
                    숙소 분류<br>
                    <input class="info-input" type="text">
                </label>
                <label class="info-label">
                    숙소 주소<br>
                    <input class="info-input" type="text">
                </label>
                <label class="info-label">
                    숙소 연락처<br>
                    <input class="info-input" type="text">
                </label>
                <label class="info-label">
                    숙소 입실시간<br>
                    <input class="info-input" type="time">
                </label>
                <label class="info-label">
                    숙소 퇴실시간<br>
                    <input class="info-input" type="time">
                </label>
                <label class="info-label">
                    숙소 URL<br>
                    <input class="info-input" type="text">
                </label>
            </div>
            <div class="lodging-list">
                <label class="info-label-textarea">
                    숙소 소개<br>
                    <textarea class="info-textarea"></textarea>
                </label>
                <label class="info-label-textarea">
                    숙소 시설 및 서비스<br>
                    <textarea class="info-textarea"></textarea>
                </label>
                <label class="info-label-textarea">
                    숙소 이용 안내<br>
                    <textarea class="info-textarea"></textarea>
                </label>
                <label class="info-label-textarea">
                    숙소 예약 공지<br>
                    <textarea class="info-textarea"></textarea>
                </label>
            </div>
            <div class="lodging-list">
                <label class="info-label">
                    대표자명<br>
                    <input class="info-input" type="text">
                </label>
                <label class="info-label">
                    대표자 연락처<br>
                    <input class="info-input" type="text">
                </label>
                <label class="info-label">
                    대표자 이메일<br>
                    <input class="info-input" type="text">
                </label>
                <label class="info-label">
                    사업자 등록번호<br>
                    <input class="info-input" type="text">
                </label>
            </div>
        </form>
        <div class="btn-list">
            <button class="btn-update-complete">수정 완료</button>
        </div>
    </section>
    <script src="../../../../static/js/mypage/provider/ProvLodgingDetail.js"></script>
</main>

<!-- 푸터 -->
<footer id="footer"></footer>
<script src="../../../../static/js/LoadFooter.js"></script>
</body>
</html>