<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvLodgingRegister.css}">
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/mypage/provider/ProvLodgingRegister.js}"></script>
    <title>숙소 등록</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>
<main>
    <!-- 좌측 네비게이션 메뉴 -->
    <th:block th:insert="~{mypage/provider/ProvNavMenu::prov-nav-menu('b')}"></th:block>
    <section class="lodging-info">
        <h1>숙소 등록</h1>
        <form id="registrationForm1" action="/mypage/provider/saveLodging" method="post">
            <div class="lodging-register">
                <div class="lodging-info-frame">
                    <label class="info-label" for="name">숙소 이름<div class="required-dot"></div></label>
                    <input class="info-input" type="text" id="name" name="lodgingName" placeholder="숙소 이름을 입력해 주세요.">
                </div>
                <div class="lodging-info-select">
                    <label class="info-label" for="type">숙소 타입<div class="required-dot"></div></label>
                    <select id="type" name="lodgingType">
                        <option value="">숙소 타입을 선택해 주세요.</option>
                        <option value="펜션/풀빌라">펜션/풀빌라</option>
                        <option value="모텔">모텔</option>
                        <option value="호텔/리조트">호텔/리조트</option>
                    </select>
                </div>
                <div class="lodging-info-select">
                    <label class="info-label" for="region">지역<div class="required-dot"></div></label>
                    <select id="region" name="lodgingLocation1">
                        <option value="">지역을 선택해 주세요.</option>
                        <option value="서울특별시">서울특별시</option>
                        <option value="부산광역시">부산광역시</option>
                        <option value="인천광역시">인천광역시</option>
                        <option value="제주특별자치도">제주특별자치도</option>
                        <option value="경기도">경기도</option>
                        <option value="경상남도">경상남도</option>
                        <option value="경상북도">경상북도</option>
                        <option value="전라남도">전라남도</option>
                        <option value="충청남도">충청남도</option>
                        <option value="강원도">강원도</option>
                        <option value="대전광역시">대전광역시</option>
                        <option value="대구광역시">대구광역시</option>
                        <option value="울산광역시">울산광역시</option>
                    </select>
                </div>
                <div class="lodging-info-select">
                    <label class="info-label" for="sub-region">하위 지역<div class="required-dot"></div></label>
                    <select id="sub-region" name="lodgingLocation2">
                        <option value="">하위 지역을 선택해 주세요.</option>
                        <!-- 서울특별시 -->
                        <option value="중구">중구</option>
                        <option value="강남구">강남구</option>
                        <option value="동대문구">동대문구</option>
                        <option value="서초구">서초구</option>
                        <option value="성북구">성북구</option>
                        <option value="노원구">노원구</option>
                        <option value="금천구">금천구</option>
                        <option value="용산구">용산구</option>
                        <option value="강동구">강동구</option>
                        <option value="강북구">강북구</option>
                        <option value="마포구">마포구</option>

                        <!-- 부산광역시 -->
                        <option value="해운대구">해운대구</option>

                        <!-- 인천광역시 -->
                        <option value="강화군">강화군</option>
                        <option value="중구">중구</option>
                        <option value="남동구">남동구</option>

                        <!-- 제주특별자치도 -->
                        <option value="제주시">제주시</option>
                        <option value="서귀포시">서귀포시</option>

                        <!-- 경기도 -->
                        <option value="수원시">수원시</option>
                        <option value="고양시">고양시</option>
                        <option value="용인시">용인시</option>

                        <!-- 경상남도 -->
                        <option value="창원시">창원시</option>
                        <option value="김해시">김해시</option>

                        <!-- 경상북도 -->
                        <option value="포항시">포항시</option>
                        <option value="경주시">경주시</option>

                        <!-- 전라남도 -->
                        <option value="여수시">여수시</option>
                        <option value="여주시">여주시</option>

                        <!-- 충청남도 -->
                        <option value="천안시">천안시</option>
                        <option value="아산시">아산시</option>

                        <!-- 강원도 -->
                        <option value="춘천시">춘천시</option>
                        <option value="강릉시">강릉시</option>

                        <!-- 대전광역시 -->
                        <option value="서구">서구</option>

                        <!-- 대구광역시 -->
                        <option value="북구">북구</option>

                        <!-- 울산광역시 -->
                        <option value="울주군">울주군</option>
                    </select>
                </div>
                <div class="lodging-info-frame">
                    <label class="info-label" for="address">숙소 주소<div class="required-dot"></div></label>
                    <input class="info-input" type="text" id="address" name="lodgingAddress" placeholder="숙소 주소를 입력해 주세요.">
                </div>
                <div class="lodging-info-frame">
                    <label class="info-label" for="phone">숙소 전화번호</label>
                    <input class="info-input" type="text" id="phone" name="lodgingNumber" placeholder="숙소 전화번호를 입력해 주세요.">
                </div>
                <div class="lodging-info-frame full-width">
                    <label class="info-label" for="url">숙소 URL</label>
                    <input class="info-input" type="url" id="url" name="lodgingUrl" placeholder="숙소 URL을 입력해 주세요.">
                </div>
                <div class="lodging-info-frame half-width">
                    <label class="info-label" for="checkin">숙소 입실시간<div class="required-dot"></div></label>
                    <input class="info-time" type="time" id="checkin" name="lodgingOpen" placeholder="숙소 입실시간을 입력해 주세요.">
                </div>
                <div class="lodging-info-frame half-width">
                    <label class="info-label" for="checkout">숙소 퇴실시간<div class="required-dot"></div></label>
                    <input class="info-time" type="time" id="checkout" name="lodgingClose" placeholder="숙소 퇴실시간을 입력해 주세요.">
                </div>
                <div class="lodging-info-frame half-width">
                    <label class="info-label" for="description">숙소 소개</label>
                    <textarea class="info-input" id="description" name="lodgingIntroduce" placeholder="숙소 소개를 입력해 주세요."></textarea>
                </div>
                <div class="lodging-info-frame half-width">
                    <label class="info-label" for="facilities">숙소 시설 및 서비스</label>
                    <textarea class="info-input" id="facilities" name="lodgingService" placeholder="숙소 시설 및 서비스를 입력해 주세요."></textarea>
                </div>
                <div class="lodging-info-frame half-width">
                    <label class="info-label" for="usinginfo">숙소 이용 안내</label>
                    <textarea class="info-input" id="usinginfo" name="lodgingUsingInfo" placeholder="숙소 이용 정보를 입력해 주세요."></textarea>
                </div>
                <div class="lodging-info-frame half-width">
                    <label class="info-label" for="notice">숙소 예약 공지</label>
                    <textarea class="info-input" id="notice" name="lodgingNotice" placeholder="숙소 예약 공지를 입력해 주세요."></textarea>
                </div>
                <div class="lodging-info-frame half-width">
                    <label class="info-label" for="ownername">담당자 이름<div class="required-dot"></div></label>
                    <input class="info-input" type="text" id="ownername" name="lodgingOwnerName" placeholder="담당자 이름을 입력해 주세요.">
                </div>
                <div class="lodging-info-frame half-width">
                    <label class="info-label" for="ownerphone">담당자 전화번호<div class="required-dot"></div></label>
                    <input class="info-input" type="text" id="ownerphone" name="lodgingOwnerNumber" placeholder="담당자 전화번호를 입력해 주세요.">
                </div>
                <div class="lodging-info-frame half-width">
                <label class="info-label" for="owneremail">담당자 이메일</label>
                <input class="info-input" type="email" id="owneremail" name="lodgingOwnerEmail" placeholder="담당자 이메일을 입력해 주세요.">
                </div>
                <div class="lodging-info-frame half-width">
                    <label class="info-label" for="ownerid">사업자 등록 번호<div class="required-dot"></div></label>
                    <input class="info-input" type="text" id="ownerid" name="lodgingOwnerId" placeholder="담당자 아이디를 입력해 주세요.">
                </div>
                <div class="lodging-info-frame half-width">
                <label class="info-label" for="userid">유저 아이디<div class="required-dot"></div></label>
                <input class="info-input" type="text" id="userid" name="userId" placeholder="유저 아이디">
                </div>
                <div class="image-upload-input">
                    <label class="info-label" for="fileInput1">숙소 이미지<div class="required-dot"></div></label>
                    <input class="info-input" type="text" id="fileInput1" name="lodgingPicture1" placeholder="숙소 이미지 url을 넣어주세요.">
                </div>
                <button class="btn-register" type="submit">등록하기</button>
            </div>
        </form>
    </section>
</main>
<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>
