<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="prov-nav-menu">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvNavMenu.css}">

    <!-- PC 버전 -->
    <nav class="provider-menu-pc">
        <a class="active" th:href="@{/mypage/provider/ProvBookingList}">
            <img th:src="@{/image/mypage/provider/BookingList.png}" alt="" class="provider-menu-icon">
            <p>예약 관리</p>
        </a>

        <a th:href="@{/mypage/provider/provlodginglist}">
            <img th:src="@{/image/mypage/provider/Lodging.png}" alt="" class="provider-menu-icon">
            <p>숙소 정보</p>
        </a>

        <a class="active" th:href="@{'/mypage/provider/ProvRoomList/' + ${user.userId}}">
            <img th:src="@{/image/mypage/provider/Room.png}" alt="" class="provider-menu-icon">
            <p>객실 정보</p>
        </a>
    </nav>

    <!-- 모바일 버전 -->
    <!--    <nav class="provider-menu-mobile">-->
    <!--    </nav>-->
    <script th:src="@{/js/mypage/provider/ProvNavMenu.js}"></script>
</th:block>
</html>