<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvLodgingDetail.css}">
    <script th:src="@{/js/mypage/provider/ProvLodgingDetail.js}"></script>
    <title>숙소 상세 정보</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<!-- 메인 -->
<main>
    <!-- 좌측 네비게이션 메뉴 -->
    <th:block th:insert="~{mypage/provider/ProvNavMenu::prov-nav-menu('b')}"></th:block>

<!--    <form id="updateForm" method="post" th:action="@{/mypage/provider/updateLodging}">-->
    <!-- 숙소 정보 페이지 -->
    <section class="lodging-info">
        <h1>숙소 상세 정보</h1>
        <div class="slideshow-container">
            <!-- 이미지 부분 수정 -->
            <div class="my-slides">
                <img class="lodging-img active" th:src="@{${lodging.lodgingPicture1}}" alt="숙소 이미지1">
            </div>
            <div class="nav-button prev" onclick="plusSlide(-1)">❮</div>
            <div class="nav-button next" onclick="plusSlide(1)">❯</div>
            <div class="dot-pagination">
                <span class="dot" onclick="currentSlide(0)"></span>
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
            </div>
        </div>
        <div class="lodging-list">
            <label class="info-label">
                숙소명<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingName}" disabled>
            </label>
            <label class="info-label">
                숙소 분류<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingType}" disabled>
            </label>
            <label class="info-label">
                지역<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingLocation1}" disabled>
            </label>
            <label class="info-label">
                세부지역<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingLocation2}" disabled>
            </label>
            <label class="info-label">
                숙소 분류<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingType}" disabled>
            </label>
            <label class="info-label">
                숙소 주소<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingAddress}" disabled>
            </label>
            <label class="info-label">
                숙소 연락처<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingNumber}" disabled>
            </label>
            <label class="info-label">
                숙소 입실시간<br>
                <input class="info-input" type="time" th:value="${lodging.lodgingOpen}" disabled>
            </label>
            <label class="info-label">
                숙소 퇴실시간<br>
                <input class="info-input" type="time" th:value="${lodging.lodgingClose}" disabled>
            </label>
            <label class="info-label">
                숙소 URL<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingUrl}" disabled>
            </label>
        </div>
        <div class="lodging-list">
            <label class="info-label-textarea">
                숙소 소개<br>
                <textarea class="info-textarea" th:text="${lodging.lodgingIntroduce}" disabled></textarea>
            </label>
            <label class="info-label-textarea">
                숙소 시설 및 서비스<br>
                <textarea class="info-textarea" th:text="${lodging.lodgingService}" disabled></textarea>
            </label>
            <label class="info-label-textarea">
                숙소 이용 안내<br>
                <textarea class="info-textarea" th:text="${lodging.lodgingUsingInfo}" disabled></textarea>
            </label>
            <label class="info-label-textarea">
                숙소 예약 공지<br>
                <textarea class="info-textarea" th:text="${lodging.lodgingNotice}" disabled></textarea>
            </label>
        </div>
        <div class="lodging-list">
            <label class="info-label">
                대표자명<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingOwnerName}" disabled>
            </label>
            <label class="info-label">
                대표자 연락처<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingOwnerNumber}" disabled>
            </label>
            <label class="info-label">
                대표자 이메일<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingOwnerEmail}" disabled>
            </label>
            <label class="info-label">
                사업자 등록번호<br>
                <input class="info-input" type="text" th:value="${lodging.lodgingOwnerId}" disabled>
            </label>
        </div>
<!--        <form id="deleteForm" method="post" th:action="@{/mypage/provider/deleteLodging/{lodgingId}(lodgingId=${lodging.lodgingId})}">-->
        <form id="deleteForm" th:action="@{/mypage/provider/deleteLodging/{lodgingId}(lodgingId=${lodging.lodgingId})}" method="post">
        <div class="btn-list">
            <a class="btn-update" href="/mypage/provider/provlodginglist">숙소 리스트</a>
            <a class="btn-update" th:href="@{'/mypage/provider/provlodgingupdate/' + ${lodging.lodgingId}}">정보 수정</a>
<!--            <a class="btn-delete" th:href="@{'/mypage/provider/deleteLodging/' + ${lodging.lodgingId}}">숙소 삭제</a>-->
            <button type="button" class="btn-delete" onclick="confirmDelete()">숙소 삭제</button>
        </div>
        </form>
    </section>

    <script src="../../../../static/js/mypage/provider/ProvLodgingDetail.js"></script>
</main>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>
