<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/Register.css}">

    <title>Title</title>
</head>
<body>

<th:block th:insert="~{common/Header::header}"></th:block>

<!--<header id="nav-bar"></header>-->

<main>
    <form method="POST" th:action="@{/user/register}">
        </div>
        <div class="user-info-input">
            <label class="info-label" for="email">이메일
                <div class="required-dot"></div>
            </label>
<!--        </div>-->
        <input type="text" id="email" name="email" placeholder="example@mail.com">
        <div><span class="text-danger" th:if="${error_email}" th:utext="${error_email}"></span></div>
<!--        <div class="user-info-input">-->
            <label class="info-label" for="nickname">닉네임
                <div class="required-dot"></div>
            </label>
<!--        </div>-->
        <input type="text" id="nickname" name="nickname" placeholder="닉네임">
        <div><span class="text-danger" th:if="${error_nickname}" th:utext="${error_nickname}"></span></div>
<!--        <div class="user-info-input">-->
            <label class="info-label" for="password">비밀번호
                <div class="required-dot"></div>
            </label>
<!--        </div>-->
        <input type="password" id="password" name="password" placeholder="비밀번호">
        <br>
        <label for="confirm-password">비밀번호 확인 </label>
        <br>
        <input type="password" id="confirm-password" name="re_password" placeholder="비밀번호 재입력">
        <div><span class="text-danger" th:if="${error_password}" th:utext="${error_password}"></span></div>
        <label class="info-label" for="phone">전화번호 </label>
        <input type="tel" id="phone" name="phonenum" placeholder="000-0000-0000">
        <div><span class="text-danger" th:if="${error_phonenum}" th:utext="${error_phonenum}"></span></div>
<!--        <div class="user-info-input">-->
            <label class="info-label" for="username">이름
                <div class="required-dot"></div>
            </label>
<!--        </div>-->
        <input type="text" id="username" name="username" placeholder="이름">
        <div><span class="text-danger" th:if="${error_username}" th:utext="${error_username}"></span></div>
        </div>
        <br>
        <button type="submit">회원가입 완료</button>
    </form>
</main>
<br>
<br>
<br>
<br>
<!--</div>-->
<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
<script th:src="@{/js/user/Register.js}"></script>
</body>
</html>
