body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.container, .modal {
    /*background: white;*/
    padding: 20px;
    border-radius: 5px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    max-width: 400px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: black;
    outline: none;
}

button {
    width: 99%;
    padding: 10px 20px;
    background-color: #FC5185;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.notice {
    font-size: 12px;
    color: red;
    margin: 10px 0;
}

#countdown {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
}

.red-text {
    color: red;
}

.red-border {
    border-color: red;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    display: flex;
    padding: 40px 20%;
    height: fit-content;
    justify-content: space-between;
    border-top: 1px solid #F5F5F5;
}

.provider-menu {
    background-color: white;
    height: fit-content;
    margin-right: 50px;
    width: 25%;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    overflow: hidden;
}

.provider-menu-list {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: 1px solid #F5F5F5;
}

.provider-menu-list:hover {
    background-color: #F5F5F5;
}

.provider-menu-list a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.provider-menu-list a:active {
    color: #FC5185;
}

.provider-menu-icon {
    height: 30px;
    width: 30px;
    margin-right: 30px;
}

.lodging-info {
    background-color: white;
    width: 75%;
}

/*---------------------------------*/

.slideshow-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.my-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.lodging-img {
    border-radius: 10px;
    height: 400px;
    width: 100%;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.nav-button {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    align-content: center;
    margin: 0 10px;
}

.dot-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #717171;
}

.user-info-input {
    display: flex;
    justify-content: space-between;
}


.required-dot {
    background-color: #FC5185;
    border-radius: 50%;
    margin-left: 1px;
    margin-top: 4px;
    height: 4px;
    width: 4px;
}

.text-danger{
    font-size: small;
    color: #fc5185;
}