<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="header">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/Header.css}">
    <script th:src="@{/js/common/Header.js}"></script>

    <!-- PC 버전 -->
    <nav class="nav-bar-pc">
        <ul class="nav-bar-pc-inner">
            <li class="nav-bar-inner-left">
                <a th:href="@{/Home}">
                    <img th:src="@{/image/MainLogo.png}" alt="StayFind">
                </a>
            </li>
            <li class="nav-bar-inner-right" th:with="user=${#authentication.getPrincipal().getUser()}">
                <a th:href="@{/lodging/LodgingSearch}">숙박 예약</a>
                <a th:href="@{/ticket/TicketCheck}">승차권 조회</a>
                <a th:href="@{'/mypage/customer/BookingList/' + ${user.userId}}" sec:authorize="isAuthenticated()" >마이페이지</a>
                <a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/user/login}" id="btn-login-pc">로그인 / 회원가입</a>

                <!-- 로그인 했을때는 username 과 로그아웃 form 보여주기 -->
                <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated()" id="user-info-logout">
                    <button class="btn btn-danger" type="submit" id="logout-btn-pc" onclick="logout()">로그아웃</button>
                </form>
                <span class="text-light p-2" id="user-info">[[${user.username}]]</span>
            </li>
        </ul>
    </nav>

    <!-- 모바일 버전 -->
    <nav class="nav-bar-mobile">
        <!-- Top Navigation Menu -->
        <div class="nav-bar-mobile-inner">
            <a th:href="@{/Home}" class="main-logo-mobile">
                <img th:src="@{/image/MainLogo.png}" alt="StayFind">
            </a>

            <!-- 햄버거 아이콘 -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction(this)">
                <div class="ham-bar-1"></div>
                <div class="ham-bar-2"></div>
                <div class="ham-bar-3"></div>
            </a>
        </div>

        <!-- Navigation links (hidden by default) -->
        <div id="nav-menu">
<!--            <a id="btn-login-mobile" th:href="@{/user/Login}">로그인 / 회원가입</a>-->
<!--            <a id="btn-logout-mobile" th:href="@{/user/Login}">로그아웃</a>-->
            <a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/user/login}" id="btn-login-mobile">로그인 / 회원가입</a>
            <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal().getUser()}">
                    <span class="d-flex">
                    <span><button class="btn btn-danger" type="submit" id="logout-btn-mobile" onclick="logout()">로그아웃</button></span>
                    <span class="text-light p-2"><span>[[${user.nickname}]]([[${user.username}]])</span> 님 환영합니다</span>
                    </span>
            </form>
            <a th:href="@{/mypage/customer/BookingList/3}" sec:authorize="isAuthenticated()" >마이페이지</a>
            <a th:href="@{/lodging/LodgingSearch}">숙박 예약</a>
            <a th:href="@{/ticket/TicketCheck}">승차권 조회</a>
        </div>
    </nav>
</th:block>
</html>