@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    display: flex;
    padding: 40px 20%;
    height: fit-content;
    justify-content: space-between;
}

/*예약내역*/
.booking-list {
    background-color: white;
    width: 75%;
    height: auto;
    padding-bottom: 50px;
}

/*검색필터*/
.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 80px 0;
    height: 35px;
    width: 100%;
}

.filter-frame {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.filter-frame label {
    font-weight: bold;
    margin-bottom: 10px;
}

.filter-container select {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    width: 350px;
}

.btn-search {
    max-height: 100%;
    margin-top: 75px;
    cursor: pointer;
}

.btn-search:hover {
    transform: scale(1.02);
}

.before-use-frame, .after-use-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    margin-top: 20px;
    padding: 25px;
    box-shadow: 0 2px 16px #00000014;
}

.empty-use-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    margin-top: 20px;
    box-shadow: 0 2px 16px #00000014;
}

.empty-title {
    font-weight: bold;
    font-size: 25px;
    align-content: center;
    padding: 0 70px;
    color: #333333;
}

.empty-detail {
    font-size: 15px;
    padding: 0 70px;
    color: gray;
}

.lodging-info-frame {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.lodging-info-inner {
    display: flex;
}

.lodging-img {
    border-radius: 5px;
    background-color: #F5F5F5;
    max-height: 100px;
    margin-right: 20px;
}

.lodging-name {
    font-weight: bold;
    font-size: 20px;
}

.room-name {
    color: grey;
}

.lodging-info-frame a {
    text-decoration: none;
    color: #1273E4;
}

.check-date-frame {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.check-date-frame label {
    color: grey;
    margin-right: 60px;
    font-size: 13px;
}

.check-date-frame label p {
    color: black;
    font-size: 17px;
}

.btn-booking-cancel, .btn-booking-post {
    text-decoration: none;
    text-align: center;
    align-content: center;
    background-color: #FC5185;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    bottom: 0;
}

.btn-booking-post {
    background-color: #1273E4;
}

.btn-booking-cancel:hover, .btn-booking-post:hover  {
    transform: scale(1.02);
}

.h3-after-use {
    margin-top: 50px;
}