.container {
    width: 60%;
    height: 100%;
    margin: auto;
    user-select: none;
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
}
#body-head {
    margin-bottom: 30px;
}
.userPost {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 16px #00000014;
    padding: 5px 15px 0 15px;
    border-radius: 10px;

}
.star {
    font-size: 20px;
    color: lightgray;
    unicode-bidi: bidi-override;
    display: inline-block;
    float: right;
    /*margin-bottom: 25px;*/
}

.star.highlighted {
     color: gold;
 }
.dateTime {
    width: 98%;
    font-size: 17px;
    margin-top: 30px;
}
.button {
    width: 10%;
    float: right;
}
.stars {
    height: 30px;
}
.star {
    font-size: 20px;
    margin-right: 2px;
    color: lightgray;
    float: right;
    margin-bottom: 30px;
}
.star.filled {
    color: gold;
}
#postHeader {
    height: 90px;
    width: 100%;
    margin: 8px 0 15px 0;
}
#lodgingPicture {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#div1 {
    width: 20%;
    height: 100%;
}
#div2 {
    width: 46%;
    height: 100%;
    margin-left: 30px;
    float: left;
}
#div3 {
    width: 40%;
    font-size: 25px;
    margin-bottom: 5px;
    align-content: flex-end;
    float: right;
}
.a {
    font-size: 12px;
    color: grey;
    margin-right: 13px;
}
.b {
    font-size: 16px;
    color: black;
}
#text {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    outline: none;
}
#postPicture {
    overflow-x: hidden; /* 수평 스크롤바 숨기기 */
    overflow-y: hidden;
    width: 100%;
    /*height: 25px;*/
    border-radius: 10px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
}
#picture {
    width: 100%;
    height: 22px;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    outline: none;
}
#lodgingName {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}
#lodgingType {
    margin-top: 17px;
    color: grey;
}
#textInput {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 10px 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #F5F5F5;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
}
#picture {
    padding: 0 20px;
    box-sizing: border-box;
    resize: none;
}
#postPicture {
    height: 22px;
    resize: none; /* 사용자가 크기를 조절하지 못하도록 설정 */
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}
#submit {
    width: 80px;
    height: 25px;
    float: right;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #1273E4;
    color: white;
    cursor: pointer;
}
