.container {
    width: 60%;
    margin: auto;
    user-select: none;
}
#body-head {
    margin-bottom: 30px;
}


#userPostDiv {
    margin-bottom: 30px;
}

.star {
    font-size: 24px;
    color: lightgray;
    unicode-bidi: bidi-override;
    display: inline-block;
}

.star.highlighted {
     color: gold;
 }

.userPost {
    width: 100%;
    height: 300px;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px 15px 0 15px;
}
.inputDiv {
    width: 99%;
    height: 80px;
    margin-top: 15px;
}
button {
    width: 10%;
    float: right;
}
