.container {
    width: 60%;
    height: 413px;
    margin: auto;
    user-select: none;
    display: flex;
    margin-top: 40px;
}
#body-head {
    margin-bottom: 30px;
}
#postDiv {
    margin-bottom: 5px;
}
.starDiv , .textDiv , .pictureDiv {
    margin-bottom: 10px;
}
#starLabel, #textLabel, #pictureLabel {
    margin-right: 10px;
}

.star {
    unicode-bidi: bidi-override;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
    color: lightgray;
}
.star.highlighted {
    color: gold;
}

button {
    float: right;
}