.container {
    width: 60%;
    margin: auto;
    user-select: none;
}

.star {
    /*direction: rtl; !* 오른쪽에서 왼쪽으로 별을 표시 *!*/
    unicode-bidi: bidi-override;
    display: inline-block;
    font-size: 2em;
}

.star {
    cursor: pointer;
    color: lightgray;
}

.star.highlighted {
    color: gold;
}