@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: #f0f2f5;
}

.container {
    width: 100%;
    max-width: 500px; /* Reduced width */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 620px !important;
    }
}

.header {
    margin-bottom: 20px;
}

#logo {
    width: 50%;
}

.content {
    padding: 20px;
    margin: 0px 35px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FC5185;
}

.notice {
    border-radius: 10px;
    background-color: #fff5f8;
    padding: 20px;
    border: 1px solid #ff9dbc;
    margin-bottom: 20px;
}

.notice p {
    margin: 0;
    color: #333;
    line-height: 1.5;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

.input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

.input-container input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #fc5185;
    outline: 0;
    box-shadow: none;
}

.Unregister-guide {
    color: #fc5185;
    font-size: small;
    text-align: left;
    margin-top: -10px;
}

.submit-container {
    text-align: center;
}

.submit-container button {
    background-color: #FC5185;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.submit-container button:hover {
    background-color: #E64977;
}

.modal-footer {
    justify-content: center;
}

.modal-header {
    text-align: center;
    border-bottom: none;
}

.modal-title {
    font-weight: bold;
}

.modal-footer {
    border-top: none;
}

.btn-danger-custom {
    background-color: #FC5185;
    color: white;
}

.btn-danger-custom:hover {
    background-color: #E64977;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.bold-text {
    font-weight: bold;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    .content {
        padding: 15px;
    }
}

