@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    align-items: center;
}

.container {
    padding: 50px 20%;
    display: flex;
    flex-direction: column;
}

.ticket-list-frame {
    margin: 50px;
}

.trip-type {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 0;
}

th, td {
    border: 0;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #EBEBEB;
}

td {
    border-top: 1px solid #EBEBEB;
}

.arrow {
    margin: 0 5px;
}

.back-button-frame {
    display: flex;
    justify-content: center;
}

.back-button {
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    background-color: #FC5185;
    color: white;
    cursor: pointer;
}

.back-button:hover {
    transform: scale(1.02);
}

.date {
    margin-right: 450px;
}