<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Home.css}">
    <script th:src="@{/js/Home.js}"></script>
    <title>저기어때</title>
</head>

<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>


<!--<h6 id="loginUser" th:if="${user}">-->
<!--        <span th:text="${user.nickname}"></span>-->
<!--님 환영합니다!-->
<!--</h6>-->

<!-- 메인 -->
<main class="container">
    <!-- 메인 이미지 -->
    <section class="main-image">
        <div class="intro-comment">국내라면 어디든지<br>여행할때 저기어때</div>
        <div class="shortcut-frame">
            <a class="shortcut-lodging" th:href="@{/lodging/LodgingSearch}" style="text-decoration: none">
                <!--                <img src="" alt="">-->
                <p>아직 여행숙소를<br>못 잡으셨나요?</p>
            </a>
            <a class="shortcut-ticket" th:href="@{/ticket/TicketCheck}" style="text-decoration: none">
                <!--                <img src="" alt="">-->
                <p>빠르게 여행을 떠나보세요!!</p>
            </a>
        </div>
    </section>

    <!-- 후기 갯수 TOP -->
    <section class="ranking-list" id="post-section">
        <div class="ranking-list-header">
            <h1>숙소 후기 TOP</h1>
            <p>후기 많은 순 추천</p>
        </div>
        <div class="btn-frame">
            <div class="filter" data-section="post">
                <button onclick="filterItems('all', 'post')" class="btn-active">전체보기</button>
                <button onclick="filterItems('호텔/리조트', 'post')">호텔/리조트</button>
                <button onclick="filterItems('펜션/풀빌라', 'post')">펜션/풀빌라</button>
                <button onclick="filterItems('모텔', 'post')">모텔</button>
            </div>
        </div>
        <div class="item-list" id="item-list-post">
            <div th:each="lodging : ${lodgings}" class="item" th:data-type="${lodging.lodgingType}" th:data-id="${lodging.lodgingId}" th:data-price="${lodging.roomPrice}" onclick="goToLodgingDetail(this)">
                <img th:src="@{${lodging.lodgingPicture1}}" alt="호텔 이미지">
                <div class="item-details">
                    <div>
                        <p class="item-title" th:text="${lodging.lodgingName}"></p>
                        <p class="item-rating" th:text="'⭐ ' + ${lodging.postGrade} + ' (' + ${lodging.countPostGrade} + ')'"></p>
                    </div>
                    <p class="item-price" th:text="${lodging.roomPrice} + '원~'"></p>
                </div>
            </div>
        </div>
    </section>

    <!-- 숙소 예약 갯수 TOP -->
    <section class="ranking-list" id="booking-section">
        <div class="ranking-list-header">
            <h1>숙소 예약 TOP</h1>
            <p>숙소 예약 많은순 추천</p>
        </div>
        <div class="btn-frame">
            <div class="filter" data-section="booking">
                <button onclick="filterItems('all', 'booking')" class="btn-active">전체보기</button>
                <button onclick="filterItems('호텔/리조트', 'booking')">호텔/리조트</button>
                <button onclick="filterItems('펜션/풀빌라', 'booking')">펜션/풀빌라</button>
                <button onclick="filterItems('모텔', 'booking')">모텔</button>
            </div>
        </div>
        <div class="item-list" id="item-list-booking">
            <div th:each="lodging : ${lodgingsBooking}" class="item" th:data-type="${lodging.lodgingType}" th:data-id="${lodging.lodgingId}" th:data-price="${lodging.roomPrice}" onclick="goToLodgingDetail(this)">
                <img th:src="@{${lodging.lodgingPicture1}}" alt="호텔 이미지">
                <div class="item-details">
                    <div>
                        <p class="item-title" th:text="${lodging.lodgingName}"></p>
                        <p class="item-rating" th:text="'⭐ ' + ${lodging.postGrade} + ' (' + ${lodging.bookingCount} + ')'"></p>
                    </div>
                    <p class="item-price" th:text="${lodging.roomPrice} + '원~'"></p>
                </div>
            </div>
        </div>
    </section>

    <!-- 숙소 좋아요 갯수 TOP -->
    <section class="ranking-list" id="love-section">
        <div class="ranking-list-header">
            <h1>숙소 좋아요 TOP</h1>
            <p>좋아요 많은 순 추천</p>
        </div>
        <div class="btn-frame">
            <div class="filter" data-section="love">
                <button onclick="filterItems('all', 'love')" class="btn-active">전체보기</button>
                <button onclick="filterItems('호텔/리조트', 'love')">호텔/리조트</button>
                <button onclick="filterItems('펜션/풀빌라', 'love')">펜션/풀빌라</button>
                <button onclick="filterItems('모텔', 'love')">모텔</button>
            </div>
        </div>
        <div class="item-list" id="item-list-love">
            <div th:each="lodging : ${lodgingLove}" class="item" th:data-type="${lodging.lodgingType}" th:data-id="${lodging.lodgingId}" th:data-price="${lodging.roomPrice}" onclick="goToLodgingDetail(this)">
                <img th:src="@{${lodging.lodgingPicture1}}" alt="호텔 이미지">
                <div class="item-details">
                    <div>
                        <p class="item-title" th:text="${lodging.lodgingName}"></p>
                        <p class="item-rating" th:text="'⭐ ' + ${lodging.postGrade} + ' (' + ${lodging.loveCount} + ' 좋아요)'"></p>
                    </div>
                    <p class="item-price" th:text="${lodging.roomPrice} + '원~'"></p>
                </div>
            </div>
        </div>
    </section>


</main>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>

<!--<div id="logout-btn">-->
<!--    <button onclick="logout()">로그아웃</button>-->
<!--</div>-->


</body>
</html>