<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    &lt;!&ndash;    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvLodgingDetail.css}">&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="../../../../static/css/mypage/manager/ApprovalLodgingRegisterDetail.css">-->
<!--    <script th:src="@{/js/mypage/manager/ApprovalLodgingRegisterDetail.js}"></script>-->
<!--    <title>내 숙소 상세</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; 헤더 &ndash;&gt;-->
<!--&lt;!&ndash;<header id="nav-bar"></header>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="../../../../static/js/LoadHeader.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="../../../../static/js/Header.js"></script>&ndash;&gt;-->

<!--&lt;!&ndash; 메인 &ndash;&gt;-->
<!--<main>-->
<!--    &lt;!&ndash; 좌측 네비게이션 메뉴 &ndash;&gt;-->
<!--    <nav class="provider-menu">-->
<!--        <ul>-->
<!--            <li class="provider-menu-list"><img src="../../../../static/image/approval.png" alt="" class="provider-menu-icon"><a href="../manager/ApprovalLodgingUpdate.html">승인요청</a></li>-->
<!--            <li class="provider-menu-list"><img src="../../../../static/image/Member.png" alt="" class="provider-menu-icon"><a href="../manager/MemberManagement.html">회원관리</a></li>-->
<!--            <li class="provider-menu-list"><img src="../../../../static/image/privacy.png" alt="" class="provider-menu-icon"><a href="../customer/ManageAccount.html" class="active">내 정보 관리</a></li>-->
<!--        </ul>-->
<!--    </nav>-->

<!--    &lt;!&ndash; 숙소 정보 페이지 &ndash;&gt;-->
<!--    <section class="lodging-info">-->
<!--        <h1>숙소 등록 승인 페이지</h1>-->
<!--        <div class="lodging-list">-->
<!--            <div class="slideshow-container">-->
<!--                <div class="my-slides">-->
<!--                    <img class="lodging-img" src="https://yaimg.yanolja.com/v5/2021/12/29/17/1280/61cc9baf0192c8.90237210.jpg" alt="">-->
<!--                    <img class="lodging-img" src="https://yaimg.yanolja.com/v5/2021/12/29/17/1280/61cc9b625a05c4.02961832.jpg" alt="">-->
<!--                    <img class="lodging-img" src="https://yaimg.yanolja.com/v5/2021/12/29/17/1280/61cc9b62ebe628.00477093.jpg" alt="">-->
<!--                </div>-->
<!--                <div class="nav-button prev" onclick="plusSlide(-1)">❮</div>-->
<!--                <div class="nav-button next" onclick="plusSlide(1)">❯</div>-->
<!--                <div class="dot-pagination">-->
<!--                    <span class="dot" onclick="currentSlide(0)"></span>-->
<!--                    <span class="dot" onclick="currentSlide(1)"></span>-->
<!--                    <span class="dot" onclick="currentSlide(2)"></span>-->
<!--                </div>-->
<!--            </div>-->

<!--            <label class="info-label">-->
<!--                숙소명<br>-->
<!--                <input class="info-input" type="text" disabled>-->
<!--            </label>-->
<!--            <label class="info-label">-->
<!--                숙소 분류<br>-->
<!--                <input class="info-input" type="text" disabled>-->
<!--            </label>-->
<!--            <label class="info-label">-->
<!--                숙소 주소<br>-->
<!--                <input class="info-input" type="text" disabled>-->
<!--            </label>-->
<!--            <label class="info-label">-->
<!--                숙소 연락처<br>-->
<!--                <input class="info-input" type="text" disabled>-->
<!--            </label>-->
<!--            <label class="info-label">-->
<!--                숙소 입실시간<br>-->
<!--                <input class="info-input" type="time" disabled>-->
<!--            </label>-->
<!--            <label class="info-label">-->
<!--                숙소 퇴실시간<br>-->
<!--                <input class="info-input" type="time" disabled>-->
<!--            </label>-->
<!--            <label class="info-label">-->
<!--                숙소 URL<br>-->
<!--                <input class="info-input" type="text" disabled>-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="lodging-list">-->
<!--            <label class="info-label-textarea">-->
<!--                숙소 소개<br>-->
<!--                <textarea class="info-textarea" disabled></textarea>-->
<!--            </label>-->
<!--            <label class="info-label-textarea">-->
<!--                숙소 시설 및 서비스<br>-->
<!--                <textarea class="info-textarea" disabled></textarea>-->
<!--            </label>-->
<!--            <label class="info-label-textarea">-->
<!--                숙소 이용 안내<br>-->
<!--                <textarea class="info-textarea" disabled></textarea>-->
<!--            </label>-->
<!--            <label class="info-label-textarea">-->
<!--                숙소 예약 공지<br>-->
<!--                <textarea class="info-textarea" disabled></textarea>-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="lodging-list">-->
<!--            <label class="info-label">-->
<!--                대표자명<br>-->
<!--                <input class="info-input" type="text" disabled>-->
<!--            </label>-->
<!--            <label class="info-label">-->
<!--                대표자 연락처<br>-->
<!--                <input class="info-input" type="text" disabled>-->
<!--            </label>-->
<!--            <label class="info-label">-->
<!--                대표자 이메일<br>-->
<!--                <input class="info-input" type="text" disabled>-->
<!--            </label>-->
<!--            <label class="info-label">-->
<!--                사업자 등록번호<br>-->
<!--                <input class="info-input" type="text" disabled>-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="btn-list">-->
<!--            <button class="btn-update">숙소 승인</button>-->
<!--            <button class="btn-delete">숙소 반려</button>-->
<!--        </div>-->
<!--    </section>-->
<!--    <script src="../../../../static/js/mypage/provider/ProvLodgingDetail.js"></script>-->
<!--</main>-->

<!--&lt;!&ndash; 푸터 &ndash;&gt;-->
<!--<footer id="footer"></footer>-->
<!--<script src="../../../../static/js/LoadFooter.js"></script>-->
<!--</body>-->
<!--</html>-->