<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../../static/css/mypage/manager/MemberManagement.css">
    <script th:src="@{/js/mypage/manager/MemberManagement.js}"></script>
    <title>Title</title>
</head>
<body>

<main>
    <!-- 좌측 네비게이션 메뉴 -->
    <nav class="provider-menu">
        <ul>
            <li class="provider-menu-list"><img src="../../../../static/image/approval.png" alt="" class="provider-menu-icon"><a href="../manager/ApprovalLodgingUpdate.html">승인요청</a></li>
            <li class="provider-menu-list"><img src="../../../../static/image/Member.png" alt="" class="provider-menu-icon"><a href="../manager/MemberManagement.html">회원관리</a></li>
            <li class="provider-menu-list"><img src="../../../../static/image/privacy.png" alt="" class="provider-menu-icon"><a href="../customer/ManageAccount.html" class="active">내 정보 관리</a></li>
        </ul>
    </nav>


    <section class="content">
        <h2>회원 목록</h2>
        <table>
            <thead>
            <tr>
                <th>user_id</th>
                <th>user_name</th>
                <th>user_email</th>
                <th>user_regdate</th>
                <th>user_nickname</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>yeongjae</td>
                <td>최영재</td>
                <td>yeongjae@naver.com</td>
                <td>2024-06-04 13:00:02</td>
                <td>jae</td>
            </tr>
            <tr>
                <td>jaehyeok</td>
                <td>이재혁</td>
                <td>jaehyeok@naver.com</td>
                <td>2024-06-01 10:02:42</td>
                <td>lee</td>
            </tr>
            <tr>
                <td>yena</td>
                <td>임예나</td>
                <td>yena@naver.com</td>
                <td>2024-05-29 19:20:52</td>
                <td>na</td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
<script src="../../../../static/js/mypage/manager/MemberManagement.js"></script>
</html>