<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/customer/BookingList.css}">
<!--    <link rel="stylesheet" type="text/css" href="../../../../static/css/mypage/customer/BookingList.css">-->
    <script th:src="@{/js/mypage/customer/BookingList.js}"></script>
<!--    <script src="../../../../static/js/mypage/customer/BookingList.js"></script>-->
    <title>Title</title>
</head>

<body>
<header>
    <h1>Reservation Details</h1>
</header>
<main>
    <section class="reservation-details">
        <h2>Reservation Information</h2>
        <ul>
            <li><strong>Reservation ID:</strong> <span th:text="${reservation.reservationId}"></span></li>
            <li><strong>Reservation Time:</strong> <span th:text="${reservation.reservationTime}"></span></li>
            <li><strong>Adults:</strong> <span th:text="${reservation.reservationAdult}"></span></li>
            <li><strong>Children:</strong> <span th:text="${reservation.reservationChild}"></span></li>
            <li><strong>Visitor Name:</strong> <span th:text="${reservation.visitorName}"></span></li>
            <li><strong>Visitor Phone:</strong> <span th:text="${reservation.visitorPhoneNum}"></span></li>
            <li><strong>Payment Type:</strong> <span th:text="${reservation.reservationPayType}"></span></li>
            <li><strong>Payment Amount:</strong> <span th:text="${reservation.reservationPay}"></span></li>
            <li><strong>Final Payment Amount:</strong> <span th:text="${reservation.reservationFinalPay}"></span></li>
            <li><strong>Check-in Date:</strong> <span th:text="${reservation.reservationStartDate}"></span></li>
            <li><strong>Check-out Date:</strong> <span th:text="${reservation.reservationEndDate}"></span></li>
            <li><strong>Room ID:</strong> <span th:text="${reservation.roomId}"></span></li>
            <li><strong>User ID:</strong> <span th:text="${reservation.userId}"></span></li>
        </ul>
    </section>
</main>
<footer>
    <a href="/reservations">Back to Reservation List</a>
</footer>
</body>

</html>