<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/customer/BookingList.css}">
    <script th:src="@{/js/mypage/customer/BookingList.js}"></script>
    <title>예약 내역</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<main>
    <!-- 좌측 네비게이션 메뉴 -->
    <th:block th:insert="~{mypage/customer/NavMenu::nav-menu('a')}"></th:block>

    <section class="booking-list">
        <h1>예약 내역</h1>
        <!--        (userId=${#httpServletRequest.getUserPrincipal().name})-->
        <form class="filter-form" id="filter-form" method="GET" th:action="@{'/mypage/customer/BookingList/'+ ${user.userId}}">
            <div class="filter-frame">
                <label for="lodging-type">숙소 분류</label>
                <select id="lodging-type" name="lodgingType">
                    <option value="" th:selected="${lodgingType == ''}">전체</option>
                    <option value="호텔/리조트" th:selected="${lodgingType == '호텔/리조트'}">호텔/리조트</option>
                    <option value="펜션/풀빌라" th:selected="${lodgingType == '펜션/풀빌라'}">펜션/풀빌라</option>
                    <option value="모텔" th:selected="${lodgingType == '모텔'}">모텔</option>
                </select>
            </div>
            <div class="filter-frame">
                <label for="time-period">날짜 범위</label>
                <select id="time-period" name="timePeriod">
                    <option value="" th:selected="${timePeriod == ''}">전체</option>
                    <option value="3months" th:selected="${timePeriod == '3months'}">최근 3개월</option>
                    <option value="6months" th:selected="${timePeriod == '6months'}">최근 6개월</option>
                    <option value="1year" th:selected="${timePeriod == '1year'}">최근 1년</option>
                </select>
            </div>
            <button type="submit" class="btn-search-frame">
                <img class="btn-search" th:src="@{/image/IconSearch.png}" alt="">
            </button>

        </form>

        <h3>이용 전</h3>
        <div th:if="${#arrays.isEmpty(booksBefore)}">
            <div class="empty-use-frame">
                <div class="empty-comment">
                    <p class="empty-title">예약 내역이 없습니다.</p>
                    <p class="empty-detail">새로운 예약을 진행해보세요.</p>
                </div>
                <img th:src="@{/image/mypage/customer/EmptyBooking.svg}" alt="">
            </div>
        </div>
        <div th:unless="${#arrays.isEmpty(booksBefore)}">
            <div class="before-use-frame" th:each="books: ${booksBefore} ">
                <div class="lodging-info-frame">
                    <div class="lodging-info-inner">
                        <img class="lodging-img" th:src="${books.lodging.lodgingPicture1}" alt="">
                        <div class="booking-info">
                            <p class="lodging-name" th:text="${books.lodging.lodgingName}"></p>
                            <p class="room-name" th:text="${books.room.roomName}"></p>
                            <p class="room-name" th:text="${books.dateGap} + '박'"></p>
                        </div>
                    </div>
                    <!--                    <a href="#">예약 상세</a>-->
                </div>
                <div class="check-date-frame">
                    <label>
                        체크인
                        <p th:text="${books.bookingStartDate}"></p>
                    </label>
                    <label>
                        체크아웃
                        <p th:text="${books.bookingEndDate}"></p>
                    </label>
                    <label>
                        결제 금액
                        <p th:text="${books.formattedPay} + '원'"></p>
                    </label>

                    <form th:action="@{/mypage/customer/{userId}/BookingDelete/{bookingId}(userId=${userId}, bookingId=${books.bookingId})}" method="post" onsubmit="return confirmCancellation(event)">
                        <input type="hidden" name="userId" th:value="${userId}">
                        <input type="hidden" name="bookingId" th:value="${books.bookingId}">
                        <input type="submit" class="btn-booking-cancel" value="예약취소">
                    </form>

                </div>
            </div>
        </div>
        <h3 class="h3-after-use">이용 후</h3>
        <div th:if="${#arrays.isEmpty(booksAfter)}">
            <div class="empty-use-frame">
                <div class="empty-comment">
                    <p class="empty-title">예약 내역이 없습니다.</p>
                    <p class="empty-detail">새로운 예약을 진행해보세요.</p>
                </div>
                <img th:src="@{/image/mypage/customer/EmptyBooking.svg}" alt="">
            </div>
        </div>
        <div th:unless="${#arrays.isEmpty(booksAfter)}">
            <div class="after-use-frame" th:each="books: ${booksAfter} ">
                <div class="lodging-info-frame">
                    <div class="lodging-info-inner">
                        <img class="lodging-img" th:src="${books.lodging.lodgingPicture1}" alt="">
                        <div class="booking-info">
                            <p class="lodging-name" th:text="${books.lodging.lodgingName}"></p>
                            <p class="room-name" th:text="${books.room.roomName}"></p>
                            <p class="room-name" th:text="${books.dateGap} + '박'"></p>
                        </div>
                    </div>
                    <!--                    <a href="#">예약 상세</a>-->
                </div>
                <div class="check-date-frame">
                    <label>
                        체크인
                        <p th:text="${books.bookingStartDate}"></p>
                    </label>
                    <label>
                        체크아웃
                        <p th:text="${books.bookingEndDate}"></p>
                    </label>
                    <label>
                        결제 금액
                        <p th:text="${books.formattedPay} + '원'"></p>
                    </label>
                    <div th:if="${books.ExistPost}">
                    <input type="button" class="btn-booking-post-gray" value="후기 작성 완료">
                    </div>
                    <div th:unless="${books.ExistPost}">
<!--                    <a class="btn-booking-post" th:href="@{'/mypage/customer/PostCreate/' + ${books.userId} + '/' + ${books.bookingId}}">후기 작성</a>-->
                        <form th:action="@{'/mypage/customer/PostCreate/' + ${books.userId} + '/' + ${books.bookingId}}">
                            <input type="hidden" name="userId" th:value="${books.userId}">
                            <input type="hidden" name="bookingId" th:value="${books.bookingId}">
                            <input type="submit" class="btn-booking-post" value="후기 작성">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>
