<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav-menu(activePage)">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/customer/NavMenu.css}">

    <!-- PC 버전 -->
    <div class="my-page-menu">
        <nav class="customer-menu-pc">
            <a th:href="@{'/mypage/customer/BookingList/' + ${userId}}" th:classappend="${activePage == 'a' ? 'active' : ''}">
                <img th:src="@{/image/mypage/customer/BookingList.png}" alt="" class="customer-menu-icon" id="booking-list-btn">
                <p>예약 내역</p>
            </a>
            <a th:href="@{/mypage/customer/ManageAccount}" th:classappend="${activePage == 'b' ? 'active' : ''}">
                <img th:src="@{/image/mypage/customer/ManageAccount.png}" alt="" class="customer-menu-icon" id="manage-account-btn">
                <p>내 정보 관리</p>
            </a>
            <a th:href="@{'/mypage/customer/PostList/' + ${userId}}" th:classappend="${activePage == 'c' ? 'active' : ''}">
                <img th:src="@{/image/mypage/customer/PostList.png}" alt="" class="customer-menu-icon" id="post-list-btn">
                <p>나의 후기</p>
            </a>
            <a th:href="@{/mypage/customer/loveList}" th:classappend="${activePage == 'd' ? 'active' : ''}">
                <img th:src="@{/image/mypage/customer/LoveList.png}" alt="" class="customer-menu-icon" id="love-list-btn">
                <p>좋아요</p>
            </a>
        </nav>

        <a th:if="${authorityIds.contains('PROVIDER')}" class="btn-provider-page" th:href="@{/mypage/provider/ProvBookingList}">판매자 페이지</a>
        <a th:if="${authorityIds.contains('MASTER')}" class="btn-manager-page" th:href="@{/mypage/manager/MemberManagement}">관리자 페이지</a>

    </div>

    <!-- 모바일 버전 -->
<!--    <nav class="provider-menu-mobile">-->
<!--    </nav>-->
    <script th:src="@{/js/mypage/customer/NavMenu.js}"></script>
</th:block>
</html>