<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav-menu">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/customer/NavMenu.css}">

    <!-- PC 버전 -->
    <div class="my-page-menu">
        <nav class="customer-menu-pc">
            <a class="active" th:href="@{'/mypage/customer/BookingList/' + ${userId}}">
                <img th:src="@{/image/mypage/customer/Booking.png}" alt="" class="customer-menu-icon">
                <p>예약 내역</p>
            </a>
            <a th:href="@{/mypage/customer/ManageAccount}">
                <img th:src="@{/image/mypage/customer/Review.png}" alt="" class="customer-menu-icon">
                <p>내 정보 관리</p>
            </a>
            <a th:href="@{'/mypage/customer/PostList/' + ${userId}}">
                <img th:src="@{/image/mypage/customer/Lodging.png}" alt="" class="customer-menu-icon">
                <p>나의 후기</p>
            </a>
        </nav>

<!--        <a th:if="${authorityIds.contains('PROVIDER')}" class="btn-provider-page" th:href="@{/mypage/provider/ProvBookingList}">판매자 페이지</a>-->
<!--        <a th:if="${authorityIds.contains('MASTER')}" class="btn-manager-page" th:href="@{/mypage/manager/MemberManagement}">관리자 페이지</a>-->

    </div>

    <!-- 모바일 버전 -->
<!--    <nav class="provider-menu-mobile">-->
<!--    </nav>-->
    <script th:src="@{/js/mypage/customer/NavMenu.js}"></script>
</th:block>
</html>