<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage/customer/PostList.css}">
    <title>Title</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<div class="container">
    <!-- 좌측 네비게이션 메뉴 -->
    <th:block th:insert="~{mypage/customer/NavMenu::nav-menu('c')}"></th:block>
    <div style="width: 80%;">
        <h2 id="body-head">내 후기 리스트</h2>
        <div th:if="${not #lists.isEmpty(userPost)}">
            <div class="userPost" th:each="userPost : ${userPost}">
                <div id="postHeader" style="display: flex; justify-content: space-between; align-items: center">
                    <div id="div1">
                        <img id="lodgingPicture" th:src="${userPost.lodgingPicture1}"/>
                    </div>
                    <div id="div2">
                        <p id="lodgingName" th:text="${userPost.lodgingName} + ' - ' + ${userPost.roomName}"></p>
                        <p id="lodgingType" th:text="${userPost.lodgingType}"></p>
                    </div>
                    <div id="div3">
                        <div class="stars" th:attr="data-star-count=${userPost.postGrade}">
                            <span class="star" data-value="5">&#9733;</span>
                            <span class="star" data-value="4">&#9733;</span>
                            <span class="star" data-value="3">&#9733;</span>
                            <span class="star" data-value="2">&#9733;</span>
                            <span class="star" data-value="1">&#9733;</span>
                        </div>
                        <div style="display: flex; width: 100%; margin-left: 33px;">
                            <label class="a">체크인
                                <p class="b" th:text="${userPost.startDate}"></p>
                            </label>
                            <label class="a">체크아웃
                                <p class="b" th:text="${userPost.endDate}"></p>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="inputDiv">
                    <div id="postText" th:text="${userPost.postText}"></div>
                    <div id="postPicture">
                        <img id="picture" th:src="@{${userPost.postPicture}}"/>
                    </div>
                </div>
                <div id="btnDiv">
                    <div id="update">
                        <a id="update1" th:href="@{'/mypage/customer/PostUpdate/' + ${userPost.userId} + '/' + ${userPost.postId}}">수정</a>
                    </div>
                    <form th:action="@{/mypage/customer/PostDelete}" method="post" style="display:inline;">
                        <input type="hidden" name="postId" th:value="${userPost.postId}"/>
                        <input type="hidden" name="userId" th:value="${userPost.userId}"/>
                        <button id="delete" onclick="return deleteOk(event)">삭제</button>
                    </form>
                </div>
            </div>

        </div>
        <!-- 후기가 없는 경우 -->
        <div th:if="${#lists.isEmpty(userPost)}">
            <div id="imgDiv">
                <div id="img"><img th:src="@{/image/noWrite.svg}"></div>
                <p class="post-null">작성한 후기가 없습니다.</p>
            </div>
        </div>
    </div>
</div>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>

<script th:src="@{/js/mypage/customer/PostList.js}"></script>
</body>
</html>