<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage/customer/PostList.css}">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h2 id="userPostDiv">내 후기 리스트</h2>

    <div class="userPost" th:each="userPost : ${userPost}">
        <div style="display: flex; justify-content: space-between; align-items: center">
            <div class="stars" th:attr="data-star-count=${userPost.postGrade}">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div>
                <a th:href="@{'/mypage/customer/PostUpdate/' + ${userPost.userId} + '/' + ${userPost.postId}}">수정</a>
                <a th:href="@{'/mypage/customer/PostUpdate/' + ${userPost.userId} + '/' + ${userPost.postId}}">삭제</a>
            </div>
        </div>
        <p th:text="${userPost.postPicture}"></p>
        <p th:text="${userPost.postText}"></p>
    </div>

</div>


<script th:src="@{/js/mypage/customer/PostList.js}"></script>
</body>
</html>