<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage/customer/PostUpdate.css}">
    <title>Title</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<div class="container" th:each="post : ${userPostUpdate}">
    <!-- 좌측 네비게이션 메뉴 -->
    <th:block th:insert="~{mypage/customer/NavMenu::nav-menu('c')}"></th:block>
    <div>
        <h2 id="body-head">후기 수정</h2>
        <form th:action="@{/mypage/customer/PostUpdate}" method="post" onsubmit="validateForm()">
            <div class="userPost">
                <input type="hidden" name="postId" th:value="${post.postId}" />
                <input type="hidden" name="userId" th:value="${post.userId}" />
                <input type="hidden" id="stars" name="postGrade" th:value="${post.postGrade}" />

                <div id="postHeader" style="display: flex; justify-content: space-between; align-items: center" >
                    <div id="div1">
                        <img id="lodgingPicture" th:src="${post.lodgingPicture1}" />
                    </div>
                    <div id="div2">
                        <p id="lodgingName" th:text="${post.lodgingName} + ' - ' + ${post.roomName}"></p>
                        <p id="lodgingType" th:text="${post.lodgingType}"></p>
                    </div>
                    <div id="div3">
                        <div class="stars" th:data-star-count="${post.postGrade}">
                            <span class="star" data-value="5">&#9733;</span>
                            <span class="star" data-value="4">&#9733;</span>
                            <span class="star" data-value="3">&#9733;</span>
                            <span class="star" data-value="2">&#9733;</span>
                            <span class="star" data-value="1">&#9733;</span>
                        </div>
                        <div style="display: flex; width: 100%; margin-left: 33px;">
                            <label class="a">체크인
                                <p class="b" th:text="${post.startDate}"></p>
                            </label>
                            <label class="a">체크아웃
                                <p class="b" th:text="${post.endDate}"></p>
                            </label>
                        </div>
                    </div>
                </div>

                <div>
                    <div id="postText">
                        <h4>후기글</h4>
                        <textarea id="textInput" name="postText" th:text="${post.postText}"></textarea>
                    </div>
                    <div>
                        <h4>후기 사진</h4>
                        <div id="postPicture">
                            <textarea id="picture" name="postPicture" th:text="${post.postPicture}"></textarea>
                        </div>
                    </div>
                </div>
                <div style="width: 99.5%; height: 50px; align-content: center">
                    <button type="submit" id="submit">수정 완료</button>
                </div>
            </div>
        </form>
    </div>
</div>







<script th:src="@{/js/mypage/customer/PostUpdate.js}"></script>
<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>