<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage/customer/PostCreate.css}">
    <title>Title</title>
</head>
<body>

<div class="container">

    <div>숙소 이용에 대해 만족하셨나요?</div>
    <div class="rating">
        <span class="star" data-value="5">&#9733;</span>
        <span class="star" data-value="4">&#9733;</span>
        <span class="star" data-value="3">&#9733;</span>
        <span class="star" data-value="2">&#9733;</span>
        <span class="star" data-value="1">&#9733;</span>
    </div>
    <form id="reviewForm" action="/submit_review" method="post">
        <input type="hidden" name="rating" id="rating" value="">
        <textarea name="review" placeholder="후기를 작성해주세요"></textarea>
        <input type="hidden" name="lodgingId" value="1"> <!-- 실제 숙소 ID를 동적으로 설정 -->
        <button type="submit">제출 하기</button>
    </form>

</div>


<script th:src="@{/js/mypage/customer/PostCreate.js}"></script>
</body>
</html>