* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

.nav-bar-pc {
    background-color: white;
}

.nav-bar-pc-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px 20%;
}

li {
    list-style-type: none; /* 마커나 불릿 제거 */
}

.nav-bar-inner-right {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: space-between;
}

.nav-bar-inner-right a {
    margin-left: 50px;
    color: black;
    align-content: center;
    text-decoration: none;
}

.nav-bar-inner-right a:hover {
    color: #FC5185;
    border-bottom: 2px solid #FC5185;
    transition: border-bottom 0.1s ease-in-out;
}

.nav-bar-pc img {
    height: 40px;
}

.main-logo-mobile {
    margin-left: 10px;
}

.main-logo-mobile img {
    height: 30px;
    width: 40px;
}

.nav-bar-pc {
    color: black;
}

.nav-bar a {
    flex: 1;
    /* 화면 크기에 따라 버튼 크기가 조절됨 */
    text-align: center;
}

#btn-login-pc {
    height: 40px;
    width: 140px;
    text-align: center;
    align-content: center;
    background-color: #FC5185;
    color: white;
    border-radius: 7px;
}

#btn-login-pc:hover {
    border-bottom: 0 none;
    transform: scale(1.02);
}

@media screen and (max-width: 600px) {
    /* 600 이하일때 */
    /* 줌인 200% 부터 navbar 중지 */
    .nav-bar-pc {display: none;}

    .nav-bar-mobile {
        width: 100%;
    }

    .nav-bar-mobile-inner {
        overflow: hidden;
        background-color: white;
        position: relative;
        display: flex;
        justify-content: space-between;
        transition: 0.3s ease-in-out;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    #nav-menu {
        display: none;
        flex-direction: column;
    }

    .nav-bar-mobile-inner .icon img {
        width: 30px;
        height: 30px;
        float: right;
    }

    .nav-bar-mobile-inner a {
        font-family: 'Noto Sans KR', sans-serif;
        padding: 15px 15px;
        text-decoration: none;
        font-size: 13px;
        display: block;
    }

    /* Style the hamburger menu */
    .nav-bar-mobile-inner a.icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        margin-right: 10px;
        right: 0;
        top: 0;
        height: 100%;
    }

    #nav-menu a {
        width: 100%;
        height: 50px;
        padding: 0 10px;
        align-content: center;
        text-decoration: none;
        font-family: 'Noto Sans KR', sans-serif;
        background-color: white;
        color: black;
    }

    /* Add a grey background color on mouse-over */
    #nav-menu a:hover {
        background-color: #F5F5F5;
        color: black;
    }

    #btn-login-mobile {
        background-color: #FC5185 !important;
        color: white !important;
    }

    #btn-login-mobile:hover {
        background-color: #F5F5F5 !important;
        color: #FC5185 !important;
    }
}

@media screen and (min-width: 601px) {
    /* 600 이상일 때 */
    /* 줌인 200 부터 navbar2 실행 */
    .nav-bar-mobile {display: none;}
}

.ham-bar-1, .ham-bar-2, .ham-bar-3 {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 2px 0;
    transition: 0.4s;
    border-radius: 10px;
}

.change .ham-bar-1 {transform: translate(0, 6px) rotate(-45deg);}

.change .ham-bar-2 {opacity: 0;}

.change .ham-bar-3 {transform: translate(0, -6px) rotate(45deg);}