<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/CouponList.css}">-->
    <link rel="stylesheet" type="text/css" href="../../../static/css/mypage/CouponList.css">
<!--    <script th:src="@{/js/mypage/CouponList.js}"></script>-->
    <script src="../../../static/js/mypage/CouponList.js"></script>
    <title>Title</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class="profile-menu-container">
            <div class="profile-info">
                <div>
                    <h2>닉네임</h2>
                </div>
            </div>
            <div class="menu-list">
                <button class="menu-item" id="reservation-btn">예약 내역<img src="../../../static/image/IconRight.png" class="icon-right"></button>
                <button class="menu-item" id="manage-info-btn">내 정보 관리<img src="../../../static/image/IconRight.png" class="icon-right"></button>
                <button class="menu-item" id="review-btn">작성 후기<img src="../../../static/image/IconRight.png" class="icon-right"></button>
                <button class="menu-item" id="coupon-btn">쿠폰<img src="../../../static/image/IconRight.png" class="icon-right"></button>
                <button class="menu-item" id="seller-btn">판매자 페이지<img src="../../../static/image/IconRight.png" class="icon-right"></button>
                <button class="menu-item" id="manager-btn">관리자 페이지<img src="../../../static/image/IconRight.png" class="icon-right"></button>
            </div>
        </div>

        <section id="coupon">
            <div id="coupontitle">
                <h2>쿠폰 0장</h2>
            </div>
            <div class="coupon-content">
                <div class="coupon-item">
                    <h3>숙소 쿠폰</h3>
                    <p>30,000원</p>
                    <p>강릉-호텔 쿠폰</p>
                </div>
                <div class="coupon-item">
                    <h3>숙소 쿠폰</h3>
                    <p>50,000원</p>
                    <p>속초-풀빌라 쿠폰</p>
                </div>
                <div class="coupon-item">
                    <h3>숙소 쿠폰</h3>
                    <p>50,000원</p>
                    <p>속초-풀빌라 쿠폰</p>
                </div>
                <div class="coupon-item">
                    <h3>숙소 쿠폰</h3>
                    <p>50,000원</p>
                    <p>속초-풀빌라 쿠폰</p>
                </div>
                <!-- 추가적인 쿠폰 아이템들을 여기에 추가할 수 있습니다 -->
            </div>
        </section>


    </main>
    <footer>

    </footer>
</body>
</html>