<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/MyPage.css}">
    <script th:src="@{/js/mypage/MyPage.js}"></script>
    <title>Title</title>
</head>
<body>
    <header>

    </header>
    <main>
        <section id="profile">
            <div class="profile-info">
                <div>
                    <p>닉네임</p>
                </div>
                <div>
                    <button type="button" class="manage-info" id="btn">내 정보 관리</button>
                </div>
            </div>
        </section>
        <section id="review-coupons">
            <div class="review-coupon">
                <button class="review">작성된 후기</button>
                <button class="coupon">쿠폰</button>
            </div>
        </section>
        <section id="reservations">
            <h2>예약 내역</h2>
            <button class="reservation">예약내역</button>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>