/* 메인 컨텐츠의 컨테이너 스타일 */
main {
    display: flex;
    justify-content: space-between; /* 섹션들을 좌우로 정렬 */
    padding: 20px  50px;
    height: 700px;
}

/* 프로필 메뉴 컨테이너 스타일 */
.profile-menu-container {
    margin-left:50px;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    /*padding: 10px;*/
    /*background-color: #fff;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 5px;*/
    /*margin-right: 20px;*/
    gap:20px;
}

/* 프로필 정보 스타일 */
.profile-info {
    margin-top: 20px;
    padding: 20px;
}

.profile-info h2 {
    font-size: 24px;
    color: #000000; /* 닉네임 텍스트 색상 */
}

/* 메뉴 리스트 스타일 */
.menu-list {
    display: flex;
    flex-direction: column;
    gap :20px;
    /*align-items: flex-start;*/
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #d2d2d2;
}

.menu-item {
    display: flex;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.icon-right {
    /*float: right;*/
    width: 15px;
    height: auto;
    margin-left: 5px;
}

.menu-item img.icon-right {
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

/* 예약 컨텐츠 스타일 */
.reservation-content {
    padding: 20px;
    width: 80%;
    height: 90%;
    /*!*margin-top: 20px;*!*/
    /*margin-right: 90px;*/
}

/* 섹션 스타일 */
section {
    margin-bottom: 20px;
}

section h2 {
    background-color: #fff;
    /*color: #333;*/
    padding: 10px;
    /*border-radius: 5px;*/
    /*border: 1px solid #ddd;*/
    margin-bottom: 10px;
}

/* 숙소 카드 스타일 */
.accommodation-card {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    align-items: center;
}

.accommodation-card .photo {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 20px;
}

.accommodation-card .details {
    flex: 1;
}

.accommodation-card .details p {
    margin: 5px 0;
    font-size: 14px;
}

.accommodation-card .details-button {
    /*background-color: #333;*/
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}