/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src:*/
/*            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),*/
/*            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),*/
/*            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');*/
/*}*/

/** {*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*}*/

/*main {*/
/*    display: flex;*/
/*    padding: 40px 20%;*/
/*    height: fit-content;*/
/*    justify-content: space-between;*/
/*    border-top: 1px solid #F5F5F5;*/
/*}*/


/* ---------------------------------- */
/*.content{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: 0 auto;*/
/*    width: 100%; !* 추가 *!*/

/*.table-container{*/
/*    width: 100%; !* 추가 *!*/
/*    overflow-x: auto; !* 추가 *!*/
/*}*/

/*.content h2 {*/
/*    font-size: 24px;*/
/*    color: #333;*/
/*    margin-bottom: 20px;*/
/*    text-align: center;*/

/*}*/

/*table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*    background-color: #fff;*/
/*    border-radius: 8px;*/
/*    overflow: hidden;*/
/*    box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
/*    max-width: 100%; !* 추가 *!*/
/*}*/

/*thead {*/
/*    background-color: #ffffff;*/
/*    color: black;*/
/*}*/

/*th, td {*/
/*    padding: 12px 15px;*/
/*    text-align: left;*/
/*    border-style: solid;*/
/*    border-width: 1px 0;*/
/*    border-color: #d2d2d2;*/
/*}*/

/*th {*/
/*    background-color: #ECECEC;*/
/*}*/

tbody tr:hover {
    background-color: #f1f1f1;
}

main {
    display: flex;
    padding: 40px 20%;
    font-size: 0.5em; /* 기본 글씨 크기를 줄였습니다 */
    justify-content: space-between;
    border-top: 1px solid #F5F5F5;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

th, td {
    border-style: solid;
    border-width: 1px 0;
    border-color: #d2d2d2;
}

table{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    border-collapse: collapse;
    background-color: #fff;
    width: 100%;
    font-size: 17px;
}

thead {
    background-color: #FC5185;
    color: white;
    border-radius: 5px;
}

.table-container {
    overflow-x: auto;
    margin: 20px 0;
}

#th1, #th2{
    width: 10%;
    text-align: center;
}

#th3{
    width: 20%;
    text-align: center;
}

#th4{
    width: 20%;
    text-align: center;
}

#th5{
    width: 15%;
    text-align: center;
}

#th6{
    width: 15%;
    text-align: center;
}

#th7{
    width: 10%;
    text-align: center;
}

#th8{
    width: 10%;
    text-align: center;
}

button {
    display: inline-block;
    width: 70px;
    height: 35px;
    font-size: 10px;
    padding: 3px 5px;
    border: none;
    /*background-color: #FC5185;*/
    /*color: white;*/
    cursor: pointer;
    border-radius: 10px;
    border:1px solid #cccccc ;
    margin: 1px;
    text-align: center;
    align-items: center;
    color: white;
}

button:hover {
    background-color: #FC5185;
}

#name{
    font-size: 40px;
}

.add-role {
    background-color: #2B9D8E; /* 초록색 */
}
.add-role:hover {
    background-color: #45a049;
}
.remove-role {
    background-color: #f1396f; /* 빨간색 */
}
.remove-role:hover {
    background-color: #E87052;
}

#FC5185