<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/lodging/LodgingDetail.css}">
    <title>내 숙소 상세</title>
</head>
<body>
<!--&lt;!&ndash; 헤더 &ndash;&gt;-->
<!--<th:block th:insert="~{common/Header::header}"></th:block>-->

<div class="container">

    <div>
        <div class="slideshow-container">

            <div class="mySlides" th:each="lodging : ${lodging}">
                <img class="img" th:src="${lodging.lodgingPicture1}">
                <div class="number">1 / 3</div>
            </div>

            <div class="mySlides">
                <img class="img" src="https://yaimg.yanolja.com/v5/2021/12/29/17/1280/61cc9b625a05c4.02961832.jpg">
                <div class="number">2 / 3</div>
            </div>

            <div class="mySlides">
                <img class="img" src="https://yaimg.yanolja.com/v5/2021/12/29/17/1280/61cc9b62ebe628.00477093.jpg">
                <div class="number">3 / 3</div>
            </div>

            <div class="nav-button prev" onclick="plusSlides(-1)">❮</div>
            <div class="nav-button next" onclick="plusSlides(1)">❯</div>

        </div>
    </div>

    <div class="lodging-name" th:each="lodgingName : ${lodgingName}">
        <h3 th:text="${lodgingName.lodgingName}"></h3>
        <div>
            <button class="like" onclick="a">♡</button>
        </div>
    </div>
    <div class="lodging-address" th:each="lodgingName : ${lodgingName}">
        <h4 th:text="${lodgingName.lodgingAddress}"></h4>
    </div>


    <div class="review-header">
        <div>⭐ 평균별점</div>
        <div class="all">전체보기 ></div>
    </div>

    <div class="item-list" th:each="lodgingName : ${lodgingName}">
        <div class="item">
            <div class="item-details">
                <p class="item-rating">⭐ 4.6(512)</p>
                <p class="item-title">리뷰 내용</p>
            </div>
            <img class="lodging-img" th:src="${lodgingName.roomPicture1}" alt="호텔 이미지">
        </div>
        <div class="item">
            <div class="item-details">
                <p class="item-rating">⭐ 4.6(512)</p>
                <p class="item-title">리뷰 내용</p>
            </div>
            <img class="lodging-img" th:src="${lodgingName.roomPicture2}" alt="호텔 이미지">
        </div>
        <div class="item">
            <div class="item-details">
                <p class="item-rating">⭐ 4.6(512)</p>
                <p class="item-title">리뷰 내용</p>
            </div>
            <img class="lodging-img" src="placeholder.png" alt="호텔 이미지">
        </div>
    </div>

    <div class="room">
        <div>
            <h3 style="margin-left: 40px">객실 선택</h3>
        </div>
        <div id="dateTotal">
            <div id="selectedDate" class="clickable" style="border-right:solid 1px black;">
                07/04 ~ 07/05, 1박
            </div>
            <div id="total" class="clickable">
                성인 1, 아동 0
            </div>
        </div>
    </div>

    <div id="dateDialog" class="dialog">
        <div id="calendar">
            <div id="controls">
                <button id="prev">&lt;</button>
                <span id="month-year"></span>
                <button id="next">&gt;</button>
            </div>
            <table id="calendar-body"></table>
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: 40px">
            <button id="saveDateBtn">확인</button>
            <button id="close1" style="margin-left: 5px;">닫기</button>
        </div>
    </div>

    <div id="peopleDialog" class="dialog">
        <div class="peopleCounter">
            <div class="counter" style="border-bottom: none">
                <button id="decrease-btn1">-</button>
                <span id="adult-count">1</span>
                <button id="increase-btn1">+</button>
            </div>
        </div>
        <div class="peopleCounter">
            <div class="counter">
                <button id="decrease-btn2">-</button>
                <span id="child-count">0</span>
                <button id="increase-btn2">+</button>
            </div>
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: 15px">
            <button id="savePeopleBtn">확인</button>
            <button id="close2" style="margin-left: 5px;">닫기</button>
        </div>
    </div>


    <div class="room-list">

        <div class="room-list1" th:each="lodging : ${lodging}">
            <img class="room-img" th:src="${lodging.roomPicture1}" alt="객실 이미지">
            <div class="room-details">
                <div class="room-detail" style="padding: 0 10px;">
                    <h4>숙박</h4>
                    <button class="detail-btn">상세보기 ></button>
                </div>
                <div th:text="'체크인 ' + ${lodging.lodgingOpen} + ' ~ ' + '체크아웃 ' +  ${lodging.lodgingClose}" style="padding: 0 10px"></div>
                <div style="display: flex; justify-content: space-between; margin-top: 15px; padding: 0 10px;">
                    <div th:text="${lodging.roomName}"></div>
                    <div th:text="${lodging.formattedRoomPrices} + '원'"></div></div>
                <div class="couponReserve" style="padding: 0 10px;"><button>쿠폰 ></button><a th:href="@{/lodging/reservation/form(lodgingId=${lodging.lodgingId})}"><button class="reserve-btn">예약하기</button></a></div>
            </div>
        </div>
    </div>

    <div class="lodging-location">
        <h3>위치</h3>
        <img class="lodging-location1" src="/image/map.png" alt="숙소 위치">
    </div>


    <div th:each="lodgingName : ${lodgingName}">
        <div class="lodgingText">
            <h3 class="textDiv1">숙소 소개</h3>
            <div class="textDiv2" th:text="${lodgingName.lodgingIntroduce}"></div>
        </div>
        <div class="lodgingText">
            <h3 class="textDiv1">시설 및 서비스</h3>
            <div class="textDiv2" th:text="${lodgingName.lodgingService}"></div>
        </div>
        <div class="lodgingText">
            <h3 class="textDiv1">이용 안내</h3>
            <div class="textDiv2" th:text="${lodgingName.lodgingUsingInfo}"></div>
        </div>
        <div class="lodgingText">
            <h3 class="textDiv1">예약 공지</h3>
            <div class="textDiv2" th:text="${lodgingName.lodgingNotice}"></div>
        </div>
        <div class="lodgingText">
            <h3 class="textDiv1">판매자 정보</h3>
            <div style="display: flex;">
                <p class="owner1">대표자명</p><div class="owner2" th:text="${lodgingName.lodgingOwnerName}"></div>
            </div>
            <div style="display: flex;">
                <p class="owner1">연락처</p><div class="owner2" th:text="${lodgingName.lodgingOwnerNumber}"></div>
            </div>
            <div style="display: flex;">
                <p class="owner1">전자우편주소</p><div class="owner2" th:text="${lodgingName.lodgingOwnerEmail}"></div>
            </div>
            <div style="display: flex;">
                <p class="owner1">사업자등록번호</p><div class="owner2" th:text="${lodgingName.lodgingOwnerId}"></div>
            </div>
        </div>
    </div>




</div>

<script th:src="@{/js/lodging/LodgingDetail.js}"></script>

<!-- 푸터 -->
<!--    <footer id="footer"></footer>-->
<!--    <script src="../../../static/js/LoadFooter.js"></script>-->
</body>
</html>