<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/lodging/LodgingSearch.css}">
    <title>숙소 검색</title>
</head>

<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<!-- 메인 -->
<main class="container">
    <h2 id="lodging-search">숙소 검색</h2>

    <!-- 키워드 검색창 -->
    <form id="search-form">
        <div id="lodging-text">
            <input type="text" id="location" name="location" placeholder="지역, 숙소명 키워드로 찾아보세요">
            <button class="btn-search-location" type="submit">
                <img id="search" th:src="@{/image/IconSearch.png}" alt="돋보기"/>
            </button>
        </div>
    </form>

    <!-- 달력 및 인원 수 선택 -->
    <div class="date-and-lineup-select">
        <!-- 선택 결과 -->
        <div class="selected-result">
            <div class="selectedDate" id="selectedDate"></div>
            <div id="total" class="total selectedDate">성인 1, 아동 0</div>
        </div>

        <!-- 달력 및 인원 선택 -->
        <div class="calendar-and-lineup">
            <!-- 달력 -->
            <div id="calendar">
                <div id="calendar-header">
                    <button id="prev">&lt</button>
                    <h2 id="month-year"></h2>
                    <button id="next">&gt</button>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 5px">
                    <div class="days">일</div>
                    <div class="days">월</div>
                    <div class="days">화</div>
                    <div class="days">수</div>
                    <div class="days">목</div>
                    <div class="days">금</div>
                    <div class="days">토</div>
                </div>
                <table id="calendar-body">
                </table>
            </div>

            <!-- 인원 수 -->
            <div id="lineup-select">
                <div class="plus-minus-lineup">
                    <div class="adultPicture"><img class="adultPicture" th:src="@{/image/adult.png}"/></div>
                    <div class="adult-child">성인</div>
                    <button id="decrease-btn1" class="button">-</button>
                    <div id="adult-count" class="count">1</div>
                    <button id="increase-btn1" class="button">+</button>
                </div>
                <div class="plus-minus-lineup">
                    <div class="childPicture"><img class="childPicture" th:src="@{/image/child.png}"></div>
                    <div class="adult-child">아동</div>
                    <button id="decrease-btn2" class="button">-</button>
                    <div id="child-count" class="count">0</div>
                    <button id="increase-btn2" class="button">+</button>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 50px">
        <h2 style="margin-bottom: 20px">최근 검색어</h2>
        <div id="recently-search-container"></div>
    </div>
</main>

<script th:src="@{/js/lodging/LodgingSearch.js}"></script>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>