<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/lodging/LodgingPostList.css}">
    <title>Title</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>
<div class="container">

    <h3>숙소 평점</h3>
    <div id="totalDiv">
        <div id="totalStar">&#9733;</div>
        <div id="avgPostGrade" th:text="${avgPostGrade} + ' / 5'"></div>
    </div>
    <div id="postList" th:each="lodgingss : ${lodgingss}">
        <div class="stars" th:attr="starCount=${lodgingss.postGrade}">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
        </div>
        <p th:text="${lodgingss.roomName}"></p>
        <p th:text="${lodgingss.postPicture}"></p>
        <p th:text="${lodgingss.postText}"></p>
    </div>




</div>

<script th:src="@{/js/lodging/LodgingPostList.js}"></script>
<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>