<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/lodging/LodgingBooking.css}">
    <script th:src="@{/js/lodging/LodgingBooking.js}"></script>
    <title>예약하기</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<!-- 메인 -->
<main>
    <h1 th:text="${lodging.lodgingName} + ' / ' + ${room.roomName} + ' 예약하기'"></h1>

    <!-- 예약 폼 내용 -->
    <form id="bookingForm" th:action="@{/lodging/LodgingBooking}" method="post">
        <label for="bookingAdult">어른</label>
        <input id="bookingAdult" name="bookingAdult" type="number" th:value="${bookingAdult}">

        <label for="bookingChild">아동</label>
        <input id="bookingChild" name="bookingChild" type="number" th:value="${bookingChild}">

        <label for="visitorName">방문자명</label>
        <input id="visitorName" name="visitorName" type="text" th:value="${user.username}" disabled>

        <label for="visitorName">방문자 전화번호</label>
        <input id="visitorPhoneNum" name="visitorPhoneNum" type="text" th:value="${user.phonenum}" disabled>

        <label for="bookingPayType">결제 방식</label>
        <input id="bookingPayType" name="bookingPayType" type="text" th:value="${bookingPayType}">

        <label for="bookingPay">결제 금액</label>
        <input id="bookingPay" name="bookingPay" type="number" th:value="${room.roomPrice}" disabled>

        <label for="bookingStartDate">체크인</label>
        <input id="bookingStartDate" name="bookingStartDate" type="date" th:value="${bookingStartDate}">

        <label for="bookingStartDate">체크아웃</label>
        <input id="bookingEndDate" name="bookingEndDate" type="date" th:value="${bookingEndDate}">

        <label class="hidden-label" for="roomId">roomId</label>
        <input id="roomId" name="roomId" type="hidden" th:value="${room.roomId}" disabled>

        <label class="hidden-label" for="userId">userId</label>
        <input id="userId" name="userId" type="hidden" th:value="${user.userId}" disabled>

        <!-- 결제 버튼 -->
        <button class="" type="submit">결제하기</button>
    </form>
</main>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>
