<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/provider/ProvBookingList.css}">
    <script th:src="@{/js/mypage/provider/ProvBookingList.js}"></script>
    <title></title>
</head>
<body>
<h2 th:text="${lodging.lodgingName} + ' 예약하기'"></h2>

<!-- 예약 폼 내용 -->
<form action="/lodging/LodgingBooking" method="get">

    <div class="room">
        <div>
            <h3 style="margin-left: 40px">객실 선택</h3>
        </div>
        <div id="dateTotal">
            <div id="selectedDate" class="clickable" style="border-right:solid 1px black;">
            </div>
            <div id="total" class="clickable">
            </div>
        </div>
    </div>

    <label>사용자 이름:</label>
    <span th:text="${user.username}"></span>
    <span th:text="${user.phonenum}"></span>

    <label>객실:</label>
    <span th:text="${selectedRoom.roomName}"></span>

    <label>가격: </label>
    <span th:text="${selectedRoom.roomPrice}"></span>


    <input type="hidden" name="lodgingId" th:value="${lodging.lodgingId}" />

    <!-- 결제 버튼 -->
    <button type="submit">결제하기</button>
</form>

<!-- 쿠폰 및 예약 버튼 -->
<div class="couponReserve" style="padding: 0 10px;">
    <button>쿠폰 ></button>
</div>

<script th:src="@{/js/lodging/LodgingBooking.js}"></script>
</body>
</html>
