<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/lodging/LodgingDetail.css}">
    <title>내 숙소 상세</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<div class="container">

    <div>
        <div class="slideshow-container">
            <div class="mySlides" th:each="lodgingName : ${lodgingName}">
                <img class="img" th:src="${lodgingName.lodgingPicture1}">
            </div>
        </div>
    </div>

    <div class="lodging-name" th:each="lodgingName : ${lodgingName}">
        <h3 th:text="${lodgingName.lodgingName}"></h3>
        <div>
            <button class="like" onclick="a">♡</button>
        </div>
    </div>
    <div class="lodging-address" th:each="lodgingName : ${lodgingName}">
        <h4 th:text="${lodgingName.lodgingAddress}"></h4>
    </div>


    <div>
        <div class="review-header">
            <div style="display: flex" th:each="lodging, iterStat : ${lodging}" th:if="${iterStat.index == 1}">
                <div id="totalStar">&#9733;</div>
                <div id="avgPostGrade" th:text="${lodging.avgPostGrade} + '(' + ${lodging.totalPosts} + ')'"></div>
            </div>
            <div th:each="lodgingName : ${lodgingName}">
            <a class="all" th:href="@{'/lodging/LodgingPostList/' + ${lodgingName.lodgingId}}">전체보기 ></a>
            </div>
        </div>
    </div>

    <!-- 후기가 없는 경우 -->
    <div th:if="${#lists.isEmpty(lodgingPost)}">
        <p class="post-null">등록된 후기가 없습니다.</p>
    </div>

    <!-- 후기가 있는 경우 -->
    <div th:if="${not #lists.isEmpty(lodgingPost)}" id="postDivContainer">
        <div id="postDiv" th:each="lodgingPost, iterStat : ${lodgingPost}" th:if="${iterStat.index < 3}" style="border: 1px solid black; display: flex; justify-content: space-between">
            <div>
                <div class="stars" th:attr="data-star-count=${lodgingPost.postGrade}">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
                <div id="postText" th:text="${lodgingPost.postText}"></div>
            </div>
            <div th:text="${lodgingPost.postPicture}"></div>
        </div>
    </div>

    <div class="room">
        <div id="dateTotal">
            <div id="selectedDate" class="clickable" style="border-right:solid 1px black;">
                07/04 ~ 07/05, 1박
            </div>
            <div id="total" class="clickable">
                성인 1, 아동 0
            </div>
        </div>
    </div>

    <div id="dateDialog" class="dialog">
        <div id="calendar">
            <div id="controls">
                <button id="prev">&lt;</button>
                <span id="month-year"></span>
                <button id="next">&gt;</button>
            </div>
            <table id="calendar-body"></table>
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: 40px">
            <button id="saveDateBtn">확인</button>
            <button id="close1" style="margin-left: 5px;">닫기</button>
        </div>
    </div>

    <div id="peopleDialog" class="dialog">
        <div class="peopleCounter">
            <div class="counter" style="border-bottom: none">
                <button id="decrease-btn1">-</button>
                <span id="adult-count">1</span>
                <button id="increase-btn1">+</button>
            </div>
        </div>
        <div class="peopleCounter">
            <div class="counter">
                <button id="decrease-btn2">-</button>
                <span id="child-count">0</span>
                <button id="increase-btn2">+</button>
            </div>
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: 15px">
            <button id="savePeopleBtn">확인</button>
            <button id="close2" style="margin-left: 5px;">닫기</button>
        </div>
    </div>

    <div class="room-list">
        <div class="room-list1" th:each="lodging : ${lodging}">
            <img class="room-img" th:src="${lodging.roomPicture1}" alt="객실 이미지">
            <div class="room-details">
                <div class="room-detail" style="padding: 0 10px;">
                    <h4>숙박</h4>
                    <a class="detail-btn" th:href="@{'/lodging/RoomDetail/' + ${lodging.lodgingId} + '/' + ${lodging.roomId}}">상세보기 ></a>
                </div>
                <div th:text="'체크인 ' + ${lodging.lodgingOpen} + ' ~ ' + '체크아웃 ' +  ${lodging.lodgingClose}" style="padding: 0 10px"></div>
                <div style="display: flex; justify-content: space-between; margin-top: 15px; padding: 0 10px;">
                    <div th:text="${lodging.roomName}"></div>
                    <div th:text="${lodging.formattedRoomPrices} + '원'"></div></div>
                <div class="couponReserve" style="padding: 0 10px;"><button>쿠폰 ></button><a class="reserve-btn" th:href="@{/lodging/LodgingBooking(lodgingId=${lodging.lodgingId}, roomId=${lodging.roomId})}">예약하기</a></div>
            </div>
            <div th:if="${lodging.available == 0}" style="padding: 0 10px; color: green;">예약 가능</div>
            <div th:if="${lodging.available > 0}" style="padding: 0 10px; color: red;">예약 불가</div>
            <hr>
        </div>
        <form id="bookingForm" action="" method="get">
            <input type="hidden" id="bookingStartDate" name="bookingStartDate">
            <input type="hidden" id="bookingEndDate" name="bookingEndDate">
            <button type="submit">Submit</button>

<!--            <div th:each="room : ${rooms}">-->
<!--            </div>-->
        </form>

<!--        <form id="bookingForm">-->
<!--            <label for="bookingStartDate">Check-in Date:</label>-->
<!--            <input type="date" id="bookingStartDate" name="bookingStartDate" required><br><br>-->

<!--            <label for="bookingEndDate">Check-out Date:</label>-->
<!--            <input type="date" id="bookingEndDate" name="bookingEndDate" required><br><br>-->

<!--            <button type="button" onclick="checkAvailability()">Check Availability</button>-->
<!--        </form>-->

    </div>

    <div class="lodging-location" th:each="lodgingName : ${lodgingName}">
        <h3>위치</h3>
        <p id="address" th:text="${lodgingName.lodgingAddress}" style="width: 100%; height: 400px; border-radius: 10px;"></p>
        <div style="display: flex;">
            <div style="text-align: center; align-content: center;"><img src="/image/locationMarker.png" style="width: 30px; height: 30px;"></div>
            <p style="color: #1273E4; font-weight: bold" th:text="${lodgingName.lodgingAddress}"></p>
        </div>
    </div>


    <div th:each="lodgingName : ${lodgingName}">
        <div class="lodgingText">
            <h3 class="textDiv1">숙소 소개</h3>
            <div class="textDiv2" th:text="${lodgingName.lodgingIntroduce}"></div>
        </div>
        <div class="lodgingText">
            <h3 class="textDiv1">시설 및 서비스</h3>
            <div class="textDiv2" th:text="${lodgingName.lodgingService}"></div>
        </div>
        <div class="lodgingText">
            <h3 class="textDiv1">이용 안내</h3>
            <div class="textDiv2" th:text="${lodgingName.lodgingUsingInfo}"></div>
        </div>
        <div class="lodgingText">
            <h3 class="textDiv1">예약 공지</h3>
            <div class="textDiv2" th:text="${lodgingName.lodgingNotice}"></div>
        </div>
        <div class="lodgingText">
            <h3 class="textDiv1">판매자 정보</h3>
            <div style="display: flex;">
                <p class="owner1">대표자명</p><div class="owner2" th:text="${lodgingName.lodgingOwnerName}"></div>
            </div>
            <div style="display: flex;">
                <p class="owner1">연락처</p><div class="owner2" th:text="${lodgingName.lodgingOwnerNumber}"></div>
            </div>
            <div style="display: flex;">
                <p class="owner1">전자우편주소</p><div class="owner2" th:text="${lodgingName.lodgingOwnerEmail}"></div>
            </div>
            <div style="display: flex;">
                <p class="owner1">사업자등록번호</p><div class="owner2" th:text="${lodgingName.lodgingOwnerId}"></div>
            </div>
        </div>
    </div>




</div>

<script th:src="@{/js/lodging/LodgingDetail.js}"></script>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>