<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/customer/LodingBooking.css}">
    <title>Title</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class="content">
            <section class="booking-details">
                <section class="booking-info">
                    <h1>예약자 정보</h1>
                    <div class="info">
                        <label for="name">예약자 이름</label>
                        <input type="text" id="name" value="이름">
                    </div>
                    <div class="info">
                        <label for="phone">휴대폰 번호</label>
                        <input type="text" id="phone" value="전화번호">
                    </div>
                </section>
                <section class="discount">
                    <h2>할인 적용</h2>
                    <div class="discount-options">
                        <label>
                            <input type="checkbox" id="maxDiscountCheckbox"> 최대할인적용
                        </label>
                        <div class="radio-label">
                            <input type="radio" name="discount" value="none" > 선택안함
                        </div>
                        <div class="radio-label">
                            <input type="radio" name="discount" value="coupon"> 쿠폰선택
                        </div>
                    </div>
                </section>
                <section class="payment-methods">
                    <h2>결제 수단</h2>
                    <div class="methods">
                        <button>카카오페이</button>
                        <button>토스페이</button>
                        <button>N Pay</button>
                        <button>PAYCO</button>
                        <button>KB pay</button>
                        <button>법인 카드</button>
                        <button>휴대폰 결제</button>
                        <button>신용/체크 카드</button>
                        <button>간편 계좌 이체</button>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="next-time" checked>
                        <label for="next-time">이 결제 수단을 다음에도 사용</label>
                    </div>
                </section>
            </section>
            <div class="summary-container">
            <section class="summary">
                <h2>라마다 속초</h2>
                <img src="../../../static/image/MainImage.jpg">
                <p>디럭스 트윈 (오션뷰)</p>
                <p>일정: 06.21 (금) 15:00 ~ 06.22 (토) 11:00 (1박)</p>
                <p>기준인원: 2인기준, 최대 2인</p>
                <p>추가정보: 룸 업그레이드 제공</p>
            </section>
            <section class="summary">
                <div class="price-info">
                    <p>객실 가격(1박): <span>130,000원</span></p>
                    <p>총 결제 금액: <span>130,000원</span></p>
                </div>
                <div class="terms">
                    <input type="checkbox" id="terms" checked>
                    <label for="terms">약관 전체동의</label>
                </div>
                <button class="pay-button">130,000원 결제하기</button>
            </section>
            </div>
        </div>
    </main>

    <footer>

    </footer>

    <!-- Modal -->
    <div id="couponModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>쿠폰 선택</h2>
            <p>쿠폰을 선택하세요:</p>
            <select id="couponSelect">
                <option value="coupon1">강릉 쿠폰</option>
                <option value="coupon2">속초 쿠폰</option>
                <option value="coupon3">제주도 쿠폰</option>
            </select>
            <button id="applyCoupon">적용</button>
        </div>
    </div>
<!--    <script src="../../../static/js/lodging/LodgingBooking.js"></script>-->
    <script th:src="@{/js/mypage/customer/LodgingBooking.js}"></script>
</body>
</html>