<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/lodging/LodgingList.css}">
    <title>Title</title>
</head>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<body>
<main class="container">
    <div style="margin-top: 20px; padding: 0 0 0 20px; display: flex; justify-content: space-between; height: 50px; background-color: #F5F5F5; border-radius: 10px;">
        <div id="lodging-text1" style="width: 80%; height: 100%; font-size: 25px; padding-left: 10px; align-content: center;">
            <input id="lodging-text" placeholder="지역을 입력하세요" />
        </div>
        <div id="lodging-text2" style="padding-right: 20px">
            <img id="search" style="width: 100%; height: 40px; padding: 5px 10px 0 0" src="/image/search.png" alt="돋보기"/>
        </div>
    </div>
    <div class="date-people">
        <div class="date">
            <div class="selectedDate" id="selectedDate"></div>
        </div>
        <div id="people" class="date-people2 total"></div>
    </div>
    <div id="list-div">
        <div class="btn-div1">
            <div class="btn-div2">
                <button class="btn1 ALL active" onclick="filterLodging('전체', this)">전체</button>
            </div>
            <div class="btn-div2">
                <button class="btn1" onclick="filterLodging('모텔', this)">모텔</button>
            </div>
            <div class="btn-div2">
                <button class="btn1" onclick="filterLodging('호텔/리조트', this)">호텔/리조트</button>
            </div>
            <div class="btn-div2">
                <button class="btn1" onclick="filterLodging('펜션/풀빌라', this)">펜션/풀빌라</button>
            </div>
        </div>
        <div>
            <select class="btn2 custom-select" id="priceFilter">
                <option class="custom-option" value="ALL">전체</option>
                <option class="custom-option" value="DESC">예약가 높은 순</option>
                <option class="custom-option" value="ASC">예약가 낮은 순</option>
            </select>
        </div>
    </div>

    <div>
        <div id="result-filter">
            <span th:text="${#lists.size(lodging)} + '개의 검색 결과'"></span>
        </div>

        <!-- 검색 숙소가 없는 경우 -->
        <div th:if="${#lists.isEmpty(lodging)}">
            <p class="post-null">해당 지역에 등록된 숙소가 없습니다</p>
        </div>
        <div class="item-list" id="item-list">
            <div class="item-list1" th:each="lodging : ${lodging}">
                <a class="item" th:href="@{'/lodging/LodgingDetail/' + ${lodging.lodgingId}}">
                    <p class="item-img1">
                        <img class="item-img2" th:src="${lodging.lodgingPicture1}" alt="Lodging Picture"/>
                    <div class="item-details">
                        <div class="item-title" th:text="${lodging.lodgingName}"></div>
                        <div class="item-type" th:text="${lodging.lodgingType}"></div>
                        <div class="item-rating" style="display: flex; align-items: center">
                            <div id="star">&#9733;</div>
                            <div class="avgPostGrade" th:text="${lodging.avgPostGrade} + '(' + ${lodging.totalPosts} + ')'"></div>
                        </div>
                        <p class="item-price" th:text="${lodging.formattedRoomPrice} + '원 ~'">Room Price</p>
                    </div>
                    </p>
                </a>
            </div>
        </div>
        <!-- 추가: location 값을 저장하는 hidden input -->
        <input type="hidden" name="location" id="location" th:value="${location}">
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/js/lodging/LodgingList.js}"></script>


<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>