<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/lodging/LodgingList.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>Title</title>
</head>


<body>
<main class="container">

<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>숙소 ID</th>-->
<!--            <th>사진</th>-->
<!--            <th>숙소 이름</th>-->
<!--            <th>숙소 유형</th>-->
<!--            <th>최소 객실 가격</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
        <!-- lodgings 리스트 순회 -->
<!--        <th:block th:each="lodging : ${lodgings}">-->
<!--            <tr>-->
<!--                <td th:text="${lodging.lodgingId}"></td>-->
<!--                <td th:text="${lodging.lodgingPicture1}"></td>-->
<!--                <td th:text="${lodging.lodgingName}"></td>-->
<!--                <td th:text="${lodging.lodgingType}"></td>-->
<!--                <td th:text="${lodging.roomPrice}"></td>-->
<!--            </tr>-->
<!--        </th:block>-->
<!--    </table>-->

<!--    <ul>-->
<!--        &lt;!&ndash; 숙소 목록을 반복하며 이름을 리스트로 출력 &ndash;&gt;-->
<!--        <li th:each="lodging : ${lodgingLocation1}" th:text="${lodging.lodgingLocation1}"></li>-->
<!--        <li th:each="lodging : ${lodgingNames}" th:text="${lodging.lodgingName}"></li>-->
<!--    </ul>-->

<!--    <ul>-->
<!--        &lt;!&ndash; 숙소 목록을 반복하며 이름과 위치를 리스트로 출력 &ndash;&gt;-->
<!--        <li th:each="lodging : ${lodgingList}">-->
<!--            <span th:text="${lodging.lodgingName}">Lodging Name</span> - -->
<!--            <span th:text="${lodging.roomPrice}">Room Price</span>-->
<!--        </li>-->
<!--    </ul>-->
    <div style="padding: 0 0 0 20px; display: flex; justify-content: space-between; height: 50px; background-color: #F5F5F5; border-radius: 10px;">
        <div id="lodging-text1" style="width: 80%; height: 100%; font-size: 25px; padding-left: 10px; align-content: center;">
            <input id="lodging-text" disabled/>
        </div>
        <div id="lodging-text2" style="padding-right: 20px">
            <img id="search" style="width: 100%; height: 40px; padding: 5px 10px 0 0" src="/image/search.png" alt="돋보기"/>
        </div>
    </div>


    <div class="date-people">
        <div class="date">
            <div class="selectedDate" id="selectedDate">

            </div>
        </div>
        <div id="people" class="date-people2 total">

        </div>
    </div>

    <div id="list-div">
        <div class="btn-div">
            <button class="btn" onclick="filterLodging('전체')">전체</button>
        </div>
        <div class="btn-div">
            <button class="btn" onclick="filterLodging('모텔')">모텔</button>
        </div>
        <div class="btn-div">
            <button class="btn" onclick="filterLodging('호텔/리조트')">호텔/리조트</button>
        </div>
        <div class="btn-div">
            <button class="btn" onclick="filterLodging('펜션/풀빌라')">펜션/풀빌라</button>
        </div>
        <div class="btn1-div">
            <div>
                <select class="btn1">
                    <option value="예약가 높은 순">예약가 높은 순</option>
                    <option value="예약가 낮은 순">예약가 낮은 순</option>
                    <option value="찜 많은 순">찜 많은 순</option>
                    <option value="후기 많은 순">후기 많은 순</option>
                </select>
            </div>
            <div>
                <button class="btn1" id="open-dialog">가격</button>
            </div>
        </div>
    </div>


    <div id="price-range" title="가격">
        <div id="slider-range"></div>
        <div id="price-text">1만원 ~ 50만원</div>
    </div>




    <div id="result-filter">
        <span th:text="${#lists.size(lodging)} + '개의 검색 결과'"></span>
    </div>
    <div class="item-list">
        <div style="display: flex; width: 48%; height: 100%; margin-bottom: 10px;" th:each="lodging : ${lodging}">
            <a class="item" th:href="@{'/lodging/LodgingDetail/' + ${lodging.lodgingId}}">
                <p class="item-img"><img th:src="${lodging.lodgingPicture1}" alt="Lodging Picture"/><div class="item-details">
                <p class="item-title" th:text="${lodging.lodgingName}">~~~~ 호텔</p>
                <p class="item-rating">⭐ 4.6(512)</p>
                <p class="item-type" th:text="${lodging.lodgingType}"></p>
                <p class="item-price" th:text="${lodging.formattedRoomPrice} + '원 ~'">Room Price</p>
            </div>
            </a>
        </div>
    </div>
    <!-- 추가: location 값을 저장하는 hidden input -->
    <input type="hidden" name="location" th:value="${location}">
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/js/lodging/LodgingList.js}"></script>
</body>


</html>