<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/lodging/RoomDetail.css}">
    <script th:src="@{/js/mypage/provider/RoomDetail.js}"></script>
    <title>객실 상세</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{common/Header::header}"></th:block>

<!-- 메인 -->
<section class="container">

    <h1>객실 상세</h1>
    <div class="room-info">
        <img class="room-img" th:src="${room.roomPicture1}" alt="">

        <div class="room-detail">
            <div class="room-detail-inner">
                <h2>객실명</h2>
                <p th:text="${room.roomName}"></p>
            </div>
            <hr class="room-detail-hr">
            <div class="room-detail-inner">
                <h2>객실 상세정보</h2>
                <p th:text="'체크인 ' + ${lodging.lodgingOpen} + ' &nbsp;&nbsp; 체크아웃 ' + ${lodging.lodgingClose}"></p>
                <p th:text="'기준' + ${room.roomNormalPeople} + '인 &nbsp;&nbsp; 최대 ' + ${room.roomMaxPeople} + '인'"></p>
                <p th:text="${room.roomBedGrade} + '침대 ' + ${room.roomBed} + '개'"></p>
                <P th:text="'화장실 ' + ${room.roomBathroom} + '개'"></P>
                <p th:text="${room.roomArea} + '평'"></p>
                <div th:if="${room.roomSmoke.toString() == 'YES'}"><p>흡연 가능 객실</p></div>
                <div th:if="${room.roomSmoke.toString() == 'NO'}"><p>금연 객실</p></div>
            </div>
        </div>
    </div>

    <h1>숙박</h1>
    <div class="room-reserve-frame">
        <div class="room-reserve-info">
            <div class="room-reserve-date">
                <div>
                    <label>입실 날짜</label>
                    <p id="selected-start-date"></p>
                </div>
                <div>
                    <label>퇴실 날짜</label>
                    <p id="selected-end-date"></p>
                </div>
                <div>
                    <label>예약 인원</label>
                    <p id="selected-lineup"></p>
                </div>
            </div>
        </div>

        <div class="reserve-confirm">
            <div class="reserve-notice"><p>취소 및 환불 불가</p></div>
            <div class="reserve-price" th:text="${roomPrice} + '원'"></div>
            <a class="reserve-btn" href="#">예약하기</a>
        </div>
    </div>

    <div class="post-title">
        <h1>객실 이용 후기</h1>
        <a class="btn-see-all" href="#">전체보기</a>
    </div>
    <div class="post-list">
        <div class="post-frame" th:each="posts : ${postList}">
            <div class="post-img-frame" th:if="${posts.postPicture} == null"><img class="post-img" th:src="@{/image/NoImage.png}" alt="후기 이미지"></div>
            <div class="post-img-frame" th:if="${posts.postPicture} != null"><img class="post-img" th:src="${posts.postPicture}" alt="후기 이미지"></div>
            <div class="post-details">
                <p class="post-rating" th:text="'⭐ ' + ${posts.postGrade} + '(' + ${totalPosts} + ')'"></p>
                <p class="post-contents" th:text="${posts.postText}"></p>
            </div>
        </div>
    </div>

</section>

<!-- 푸터 -->
<th:block th:insert="~{common/Footer::footer}"></th:block>
</body>
</html>