main {
    display: flex;
    padding: 0 20%;
    justify-content: space-between;
}

.lodging-slider {
    background-color: #FC5185;
    height: 1000px;
    width: 25%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.lodging-info {
    background-color: #1273E4;
    width: 75%;
}