@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* 헤더와 푸터 */
header, footer {
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
}

/* 메인 컨텐츠 */
main {
    display: flex;
    padding: 40px 20%;
    height: fit-content;
    justify-content: space-between;
    border-top: 1px solid #F5F5F5;
}

/* 방 정보 섹션 */
.lodging-info {
    background-color: white;
    width: 75%;
}

.lodging-register {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.lodging-info-frame, .lodging-info-select {
    width: 48%;
    margin: 10px 0;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 48%;
}

.required-dot {
    background-color: #FC5185;
    border-radius: 50%;
    margin-left: 1px;
    margin-top: 4px;
    height: 4px;
    width: 4px;
}

.image-upload-input {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.info-input {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 7px;
    background-color: #F5F5F5;
    margin-top: 5px;
    padding: 0 15px;
    font-size: 17px;
}

.info-label {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    color: dimgray;
}

.info-time {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 7px;
    background-color: #F5F5F5;
    margin-top: 5px;
    padding: 0 15px;
    font-size: 17px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    width: 100%;
}

.btn1, .btn2 {
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 7px;
    font-size: 17px;
    font-weight: bold;
    background-color: #FC5185;
    color: white;
}


.btn1 {
    float: none;
}

.btn2 {
    float: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 7px;
    background-color: #F5F5F5;
    font-size: 16px;
    color: #333;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2716%27%20height%3D%2716%27%3E%3Cpath%20fill%3D%27%23333%27%20d%3D%27M8%2010l4-4H4z%27/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

select:focus {
    outline: none;
    border-color: #1273E4;
}

.lodging-info-select {
    position: relative;
    width: 48%;
    margin: 10px 0;
}

.info-input:focus, .info-time:focus {
    outline: none;
    border: 1px solid #1273E4;
}