body {
    padding: 15%;
    font-family: Arial, sans-serif;
    margin-top: -250px;
}
body {
    padding: 20%;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}
nav a {
    text-decoration: none;
    color: #333;
}
.lodging-detail {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.lodging-detail img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
.lodging-info {
    width: 100%;
    border-collapse: collapse;
}
.lodging-info th, .lodging-info td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    height: 40px;
}
.lodging-info th {
    background-color: #f2f2f2;
    width: 20%;
}
.lodging-info td {
    width: 80%;
}
.lodging-info span {
    font-weight: bold;
}
a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
h1 {
    text-align: center;
    align-items: center;
}