@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
            url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.provider-menu-pc {
    width: 200px; /* 메뉴 바의 너비 조정 */
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.provider-menu-pc a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.provider-menu-pc a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

table {
    /*border: solid 2px;*/
    width: 100%;
    border-collapse: collapse; /* 테이블 셀 경계를 합칩니다. */
}

.content {
    flex: 1;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.accommodation {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.accommodation img {
    width: 30%; /* 이미지의 너비를 30%로 설정합니다. */
    height: auto; /* 높이를 자동으로 조정하여 비율을 유지합니다. */
    background-color: #ddd;
    margin-right: 20px;
}

.accommodation-info {
    flex: 1;
}

.accommodation-info p {
    margin: 5px 0;
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 말줄임표(...)를 추가 */
}

.register-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #FC5185;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
}

.detail-btn {
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 7px;
    font-size: 17px;
    font-weight: bold;
    background-color: #FC5185;
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: -700px;
}

.detail-btn a {
    color: white;
    text-decoration: none;
}

.register-btn:hover {
    transform: scale(1.02);
}

.detail-btn:hover {
    transform: scale(1.02);
}
